<div class="container-fluid" id="link-container">
  <div class="row links justify-content-center">
    <div class="col-6 col-md-4 col-lg-2">
      <a href="/test/about" class="preview">
        <div class="link_wrapper">
          <div class="text-center icon-link">
            <div class="icon-wrapper"><i class="icon-about-us float-shadow"></i></div>
            <h3>About Us</h3>
          </div>
          <!-- <div class="box_hover vcenter">
            <span class="helper"></span><i class="vcenter fas fa-angle-right"></i>
          </div> -->
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <a href="/test/leadership" class="preview">
        <div class="link_wrapper">
          <div class="text-center icon-link">
            <div class="icon-wrapper"><i class="icon-leadership float-shadow"></i></div>
            <h3>Leadership</h3>
          </div>
          <!-- <div class="box_hover vcenter">
            <span class="helper"></span><i class="vcenter fas fa-angle-right"></i>
          </div> -->
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <a href="/test/services" class="preview">
        <div class="link_wrapper">
          <div class="text-center icon-link">
            <div class="icon-wrapper"><i class="icon-services float-shadow"></i></div>
            <h3>Services</h3>
          </div>
          <!-- <div class="box_hover vcenter">
            <span class="helper"></span><i class="vcenter fas fa-angle-right"></i>
          </div> -->
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <a href="/test/technology" class="preview">
        <div class="link_wrapper">
          <div class="text-center icon-link">
            <div class="icon-wrapper"><i class="icon-technology float-shadow"></i></div>
            <h3>Technology</h3>
          </div>
          <!-- <div class="box_hover vcenter">
            <span class="helper"></span><i class="vcenter fas fa-angle-right"></i>
          </div> -->
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <a href="/test/events" class="preview">
        <div class="link_wrapper">
          <div class="text-center icon-link">
            <div class="icon-wrapper"><i class="icon-events float-shadow"></i></div>
            <h3>Events</h3>
          </div>
          <!-- <div class="box_hover vcenter">
            <span class="helper"></span><i class="vcenter fas fa-angle-right"></i>
          </div> -->
        </div>
      </a>
    </div>
    <div class="col-6 col-md-4 col-lg-2">
      <a href="/test/contact" class="preview">
        <div class="link_wrapper">
          <div class="text-center icon-link">
            <div class="icon-wrapper"><i class="icon-contact float-shadow"></i></div>
            <h3>Contact Us</h3>
          </div>
          <!-- <div class="box_hover vcenter">
            <span class="helper"></span><i class="vcenter fas fa-angle-right"></i>
          </div> -->
        </div>
      </a>
    </div>
  </div>
</div>
<div id="copyright" class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
      <p>Copyright &copy;2019, Healthcare Outsourcing Network, LLC</p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
      <div class="icons">
        <i class="fab fa-css3-alt fa-2x" title="CSS3"></i>
        <i class="fab fa-html5 fa-2x" title="HTML5"></i>
      </div>
    </div>
  </div>
</div>
