<nav class="navbar fixed-top navbar-expand-xl navbar-dark navbar-custom">
  <a class="navbar-brand" href="/test"><img src="/img/Logo_small.png" height="50px"> Healthcare Outsourcing Network, LLC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/test">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown2" href="/test/about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="/test/about">About Us</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/test/about/mission">Mission</a>
          <a class="dropdown-item" href="/test/about/values">Values</a>
          <a class="dropdown-item" href="/test/about/relationships">Relationships</a>
          <a class="dropdown-item" href="/test/about/feedback">Feedback</a>
          <a class="dropdown-item" href="/test/about/affiliates">Affiliates</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="/test/about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leadership</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/test/leadership">Leadership</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/test/groups/summit">Team Summit</a>
          <a class="dropdown-item" href="/test/groups/groomers">Black Diamond Groomers</a>
          <a class="dropdown-item" href="/test/groups/miners">The Gold Miners</a>
          <a class="dropdown-item" href="/test/groups/pathfinders">Pathfinders</a>
          <a class="dropdown-item" href="/test/groups/shackleton">Team Shackleton</a>
          <a class="dropdown-item" href="/test/groups/team">First Tracks Team</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown3" href="/test/about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
          <a class="dropdown-item" href="/test/services">Services</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/test/services/balanceMgt">Patient Balance Management</a>
          <a class="dropdown-item" href="/test/services/insurance">Insurance Follow-up</a>
          <a class="dropdown-item" href="/test/services/callCenter">Call Center Support</a>
          <a class="dropdown-item" href="/test/services/intelligence">Virtual Agents with Artificial Intelligence</a>
          <a class="dropdown-item" href="/test/services/analytics">Data Analytics with Machine Learning</a>
          <a class="dropdown-item" href="/test/services/rpa">Robotic Process Automation (RPA)</a>
          <a class="dropdown-item" href="/test/services/training">Training</a>
          <a class="dropdown-item" href="/test/services/qa">Quality Assurance</a>
          <a class="dropdown-item" href="/test/services/benchmarking">Benchmarking</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown4" href="/test/technology" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Technology</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
          <a class="dropdown-item" href="/test/technology">Technology</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/test/technologies/platform">Operating platform</a>
          <a class="dropdown-item" href="/test/technologies/telephone">Telephone System</a>
          <a class="dropdown-item" href="/test/technologies/reporting">Business Intelligent Reporting</a>
          <a class="dropdown-item" href="/test/technologies/advanced">Advanced Technology</a>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="/test/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/test/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
