<nav class="navbar fixed-top navbar-expand-xl navbar-dark navbar-custom">
  <a class="navbar-brand" href="/test"><img src="/img/Logo_small.png" height="50px"> Healthcare Outsourcing Network, LLC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li <% if (pagename === "home") { %>class="nav-item current" <% } else { %>class="nav-item" <% } %>>
        <a class="nav-link" href="/test">Home</a>
      </li>
      <li <% if (pagename === "about" || pagename === "aboutvalues" || pagename === "aboutrelationships" || pagename === "aboutmission" || pagename === "aboutfeedback" || pagename === "aboutaffiliates" ) { %>class="nav-item current dropdown" <% } else { %>class="nav-item dropdown" <% } %>>
        <a class="nav-link dropdown-toggle" id="navbarDropdown2" href="/test/about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
        <i class="fas fa-angle-down fa-xs"></i>
        <div class="dropdown-menu shadow p-3 mb-5 bg-white rounded" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item head" href="/test/about">About Us</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/test/about/mission">Mission</a>
          <a class="dropdown-item" href="/test/about/values">Values</a>
          <a class="dropdown-item" href="/test/about/relationships">Relationships</a>
          <a class="dropdown-item" href="/test/about/feedback">Feedback</a>
          <a class="dropdown-item" href="/test/about/affiliates">Affiliates</a>
        </div>
      </li>

      <li <% if (pagename === "leadership" || pagename === "groupssummit" || pagename === "groupsgroomers" || pagename === "groupsminers" || pagename === "groupspathfinders" || pagename === "groupsshackleton" || pagename === "groupsteam" ) { %>class="nav-item current dropdown" <% } else { %>class="nav-item dropdown" <% } %>>
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="/test/about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leadership</a>
        <i class="fas fa-angle-down fa-xs"></i>
        <div class="dropdown-menu shadow p-3 mb-5 bg-white rounded" aria-labelledby="navbarDropdown">
          <a class="dropdown-item head" href="/test/leadership">Leadership</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/test/groups/summit">Team Summit</a>
          <a class="dropdown-item" href="/test/groups/groomers">Black Diamond Groomers</a>
          <a class="dropdown-item" href="/test/groups/miners">The Gold Miners</a>
          <a class="dropdown-item" href="/test/groups/pathfinders">Pathfinders</a>
          <a class="dropdown-item" href="/test/groups/shackleton">Team Shackleton</a>
          <a class="dropdown-item" href="/test/groups/team">First Tracks Team</a>
        </div>
      </li>

      <li <% if (pagename === "services" || pagename === "servicesbalanceMgt" || pagename === "servicestraining" || pagename === "servicesqa" || pagename === "servicesearly" || pagename === "servicesinsurance" || pagename === "servicesintelligence" || pagename === "servicesanalytics" || pagename === "servicesrpa" || pagename === "servicescallCenter" || pagename === "servicesbenchmark" ) { %>class="nav-item current dropdown" <% } else { %>class="nav-item dropdown" <% } %>>
        <a class="nav-link dropdown-toggle" id="navbarDropdown3" href="/test/about" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
        <i class="fas fa-angle-down fa-xs"></i>
        <div class="dropdown-menu shadow p-3 mb-5 bg-white rounded" aria-labelledby="navbarDropdown3">
          <a class="dropdown-item head" href="/test/services">Services</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/test/services/balanceMgt">Patient Balance Management</a>
          <a class="dropdown-item" href="/test/services/insurance">Insurance Follow-up</a>
          <a class="dropdown-item" href="/test/services/callCenter">Call Center Support</a>
          <a class="dropdown-item" href="/test/services/intelligence">Virtual Agents with Artificial Intelligence</a>
          <a class="dropdown-item" href="/test/services/analytics">Data Analytics with Machine Learning</a>
          <a class="dropdown-item" href="/test/services/rpa">Robotic Process Automation (RPA)</a>
          <a class="dropdown-item" href="/test/services/training">Training</a>
          <a class="dropdown-item" href="/test/services/qa">Quality Assurance</a>
          <a class="dropdown-item" href="/test/services/benchmarking">Benchmarking</a>
        </div>
      </li>

      <li <% if (pagename === "technology" || pagename === "technologyplatform" || pagename === "technologytelephone" || pagename === "technologyreporting" || pagename === "technologyadvanced" ) { %>class="nav-item current dropdown" <% } else { %>class="nav-item dropdown" <% } %>>
        <a class="nav-link dropdown-toggle" id="navbarDropdown4" href="/test/technology" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Technology</a>
        <i class="fas fa-angle-down fa-xs"></i>
        <div class="dropdown-menu shadow p-3 mb-5 bg-white rounded" aria-labelledby="navbarDropdown4">
          <a class="dropdown-item head" href="/test/technology">Technology</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/test/technologies/platform">Operating platform</a>
          <a class="dropdown-item" href="/test/technologies/telephone">Telephone System</a>
          <a class="dropdown-item" href="/test/technologies/reporting">Business Intelligent Reporting</a>
          <a class="dropdown-item" href="/test/technologies/advanced">Advanced Technology</a>
        </div>
      </li>


      <li <% if (pagename === "events") { %>class="nav-item current" <% } else { %>class="nav-item" <% } %>>
        <a class="nav-link" href="/test/events">Events</a>
      </li>
      <li <% if (pagename === "contact") { %>class="nav-item current" <% } else { %>class="nav-item" <% } %>>
        <a class="nav-link" href="/test/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
