<!DOCTYPE html>
<html>
  <head>
    <title>HON Advanced Technology</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/technology.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Bringing Big Ideas</b>
              <br />
              Into the Light
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Using Technology to Maximize Revenue
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="top">
      <div class="top">
        <div class="row justify-content-center medium-space">
          <div class="col-lg-12 col-xl-9">
            <h1 class="text-center font-weight-bold">Advanced Technologies</h1>
            <h3>
              We believe it is crucial that our office be able to customize any program or report that clients need.  Our in-house IT and software development team gives us the ability and flexibility to be creative, accommodating and allows us to bring world class service to our clients.
            </h3>
          </div>
        </div>
<!--
        <div class="row justify-content-start">
          <div class="col-sm-4 col-md-3 col-lg-2">
            <a class="btn btn-primary btn-lg form-control" href="/test/technology#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
          </div>
        </div>
-->
      </div>
      <div class="row about justify-content-center">
        <div class="col-lg-12 col-xl-8">
          <h5>We Provide:</h5>
          <ul class="weProvide">
            <li>Ability to speak to a virtual agent 24/7/365</li>
            <li>Technology that goes beyond the basics</li>
            <li>Predictive analytics to better customize work flows and contacts</li>
            <li>Automation to processes that are causing bottlenecks</li>
            <li>Self-service options for the patient</li>
            <ul class="weProvide">
              <li>Make a payment</li>
              <li>Set up a payment arrangement per guidelines</li>
              <li>View statements and payment history</li>
              <li>Set up e-statements and mobile alerts</li>
              <li>Ability to upload document via mobile app</li>
              <li>Ability to apply for financial assistance</li>
              <li>Ability to add/change demographics and insurance information</li>
              <li>Ability to speak with a virtual agent</li>
            </ul>
            <li>Control Center that tracks and reports requests</li>
            <li>Follow-up tracker that tracks and reports patient calls</li>
            <li>Automated electronic return mail with USPS</li>
            <li>In-house Software Developers providing quick response to technical issues</li>
            <li>Flexibility and automation, which makes partnering with our company easy to do</li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('../partials/quote', {img: '/img/action/technology/advanced.jpg', title: 'We customize our technologies to reach your goals'}); %>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
