<!DOCTYPE html>
<html>
  <head>
    <title>HON Operating Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
<!--    <link rel="stylesheet" href="/stylesheets/svcs.css">-->
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div class="container-fluid" id="top">
      <div class="top">
        <div class="row justify-content-center medium-space">
          <div class="col-lg-12 col-xl-9">
            <h1 class="text-center"><strong>Operating Platform</strong></h1>
            <h3 class="">
              Our technology features a powerful and sophisticated workflow management tool we customize to uniquely fit clients&apos; needs. What makes our operating system unique is the customization we have implemented. We have invested in integrating our operating platform with our telephone system, and other systems to ensure a fully integrated and seamless flow of information. Instead of manipulating our operations to accommodate our system, we manipulate our operating system to accommodate our operations and the needs of our clients.
            </h3>
          </div>
        </div>

      </div>
      <div class="row about justify-content-center">
        <div class="col-lg-12 col-xl-8">
          <h5>We Provide:</h5>
          <ul class="weProvide">
            <li>Data mining on past payment history to create intelligent and automated workflow systems</li>
            <li>Financial Assistance scrubs to reduce and move your accounts receivable to appropriate resolution</li>
            <li>Direct importation of notes, flags, codes into client accounts</li>
            <li>Access to view statements/letters</li>
            <li>Electronic return mail with United States Postal Service (USPS)</li>
            <li>Automatic tracking of statement/letters with USPS</li>
            <li>Real-time access to account notes</li>
            <li>Ability to request action on accounts</li>
            <li>An in-house team of developers that keeps all systems user friendly</li>
            <li>Fully customizable systems and programs for our clients</li>
            <li>Workforce queuing systems that automates requests and streamlines your operations</li>
            <li>Sophisticated workflow and call campaign integration</li>
            <li>Training for clients on all systems</li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center" id="back-button">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <a class="btn btn-primary btn-lg form-control" href="/test/technology#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back to Technologies</a>
        </div>
      </div>
    </div>

    <div class="row callout align-items-center">
      <div class="col-8">
        <h1>Optimize data flow and enable timely actions</h1>
      </div>
      <div class="col-4 callout-photo-container">
        <img class="callout-photo" src="/img/action/Technology/code.jpg">
      </div>
    </div>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
