<!DOCTYPE html>
<html>
  <head>
    <title>HON Operating Platform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
<!--    <link rel="stylesheet" href="/stylesheets/svcs.css">-->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/technology.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Bringing Big Ideas</b>
              <br />
              Into the Light
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Using Technology to Maximize Revenue
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid main">
      <div class="row justify-content-center seeing">
        <div class="col-sm-10 col-md-4 col-lg-4">
          <h1 class="page-header">Operating Platform</h1>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-6">
          <h3 class="intro_content" id="intro">
            Our technology features a powerful and sophisticated workflow management tool we customize to uniquely fit clients&apos; needs. What makes our operating system unique is the customization we have implemented. We have invested in integrating our operating platform with our telephone system, and other systems to ensure a fully integrated and seamless flow of information. Instead of manipulating our operations to accommodate our system, we manipulate our operating system to accommodate our operations and the needs of our clients.
          </h3>
        </div>
      </div>
    </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-10">
          <h5>We provide:</h5>
          <ul class="weProvide">
            <li>Technology that goes beyond the basics.</li>
            <li>Data analytics on past payment history to create intelligent and automated workflow systems.
</li>
            <li>Financial Assistance scrubs to move your accounts to appropriate resolution.</li>
            <li>Direct importation of account notes, flags and codes into client accounts.</li>
            <li>Access to view statements. </li>
            <li>Automatic tracking of statement with USPS. Electronic return mail with USPS.</li>
            <li>An in-house team of developers who keep all systems user friendly and who provide quick responses.</li>
            <li>Fully customizable systems and programs making partnering with our company easy to do.</li>
            <li>Workforce queuing systems that automate and tracks requests and calls.</li>
            <li>Sophisticated workflow and call campaign integration.</li>
            <li>Self-service options for patients:
              <ul>
                <li>Make a payment,</li>
                <li>Set up a payment arrangement per guidelines,</li>
                <li>View statements and payment history,</li>
                <li>Set up e-statements and mobile alerts,</li>
                <li>Ability to upload document via mobile app,</li>
                <li>Ability to apply for financial assistance,</li>
                <li>Ability to add/change demographics and insurance information.</li>
                <li>Ability to chat/text.</li>
                <li>Mobile ready.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('../partials/quote', {img: '/img/action/technology/advanced.jpg', title: 'We customize our technologies to reach your goals'}); %>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
