<!DOCTYPE html>
<html>
  <head>
    <title>HON Telephone System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/technology.css">
<!--    <link rel="stylesheet" href="/stylesheets/svcs.css">-->
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Bringing Big Ideas</b>
              <br />
              Into the Light
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Using Technology to Maximize Revenue
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="top">
      <div class="top">
        <div class="row justify-content-center medium-space">
          <div class="col-lg-12 col-xl-9">
            <h1 class="text-center font-weight-bold">Telephone System</h1>
            <h3>
              Placing and receiving telephone calls is a large piece of our business, so we have invested in the most advanced telephone system available to support our current needs, and our future growth. Not only does the system provide us with unlimited reporting capabilities, it also features an increased dialer capacity and functionality, dramatically increasing productivity by more than 30&#37;.
            </h3>
          </div>
        </div>
<!--
        <div class="row justify-content-start">
          <div class="col-sm-4 col-md-3 col-lg-2">
            <a class="btn btn-primary btn-lg form-control" href="/test/technology#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
          </div>
        </div>
-->
      </div>
      <div class="row about justify-content-center">
        <div class="col-lg-12 col-xl-8">
          <h5>We Provide:</h5>
          <ul class="weProvide">
            <li>Call Recording</li>
            <li>Computer Telephone Integration (CTI)</li>
            <li>Advanced dialer technology that increases contacts and eliminates lag time for patients who answer</li>
            <li>Interactive Voice Response (IVR) and Virtual Agent</li>
            <li>An advanced queueing system for automating voicemail returns and scheduled call backs</li>
            <li>Supervisor alert, chat and monitoring features</li>
            <li>Supervisor ability to listen to a call and join a call</li>
            <li>Desktop pop-up integrates telephone calls with account information</li>
            <li>Sophisticated and real time call reporting capabilities and benchmarking of key metrics</li>
            <li>Real time monitoring of staffing levels, queue times and abandonment rates</li>
            <li>Unified omnichannel contact center and communications platform</li>
            <li>Unparalleled analytics system following complete patient journeys</li>
            <li>Realtime client analytics dashboard of performance metrics</li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('../partials/quote', {img: '/img/action/Technology/switches.jpg', title: 'Engaging Patients supported by the best in Telephone systems'}); %>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
