<!DOCTYPE html>
<html>
  <head>
    <title>About HON</title>
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
     <link rel="stylesheet" href="/stylesheets/about.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>
     <% include partials/navigation %>
    <div id="image-box">
      <img class="top" title="Boulder Creek, CO" src="/img/Backgrounds/about.jpg">
      <div class="upper-right">
        <h1 class="text-center">
          <strong>
            Clients Breathe Easier<br>With HON
          </strong>
        </h1>
      </div>
      <div class="lower-left">
        <h1 class="lower">
          <strong>
            Cutting New Paths<br>Since 1998
          </strong>
        </h1>
      </div>
    </div>


    <div class="container-fluid" id="top">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <h2 class="text-center"><strong>Expert Solutions, Outstanding Service</strong></h2>
          <h3>
            Located in Lakewood CO, we have been supporting our clients and enabling them to continue doing what they do best &#45; caring for their patients and surrounding communities &#45; since 1998.  We operate on the basic principle of building meaningful and lasting client relationships, providing outstanding customer service, and supporting our clients in actualizing their financial goals.
          </h3>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-4">
          <h5>Early-Out Specialist</h5>
          <p>
            As early-out specialists, we offer a variety of services to the healthcare industry that are client specific and designed to resolve accounts receivable issues.  Simply, we believe revenue goals can be met and consistently exceeded without sacrificing values or community relationships. By combining innovative programs, data driven workflows and a highly trained staff with state-of-the-art technology, we help position our clients at the pinnacle of healthcare financial management.
          </p>
        </div>
        <div class="col-md-4">
          <h5>We provide:</h5>
          <ul class="weProvide">
            <li>Increased cash revenue</li>
            <li>Resources to help reduce A/R</li>
            <li>Superior customer service</li>
            <li>Enhanced community relations</li>
            <li>Decreased operating cost</li>
            <li>Valuable benchmarking</li>
            <li>Extensive reporting</li>
            <li>Open communication</li>
            <li>A successful partnership</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="navs" id="navs">
        <div class="row justify-content-center">
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/about/mission" target="_self">
              <img class="link-pic" alt="Mission" src="/img/links/about/mission.jpg">
              <div class="link-block">
                <h4 class="topic_name">Mission / Vision</h4>
                 <p class="topic_desc">
                  Turning the ordinary into the extraordinary in all we do.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/about/values" target="_self">
              <img class="link-pic" alt="Core Values" src="/img/links/about/values.jpg">
              <div class="link-block">
                <h4 class="topic_name">Our Values at HON</h4>
                <p class="topic_desc">
                  Seeing our clients thrive throughout the 21st century.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/about/relationships" target="_self">
              <img class="link-pic" alt="Relationships" src="/img/links/about/relationships.jpg">
              <div class="link-block">
                <h4 class="topic_name">Relationships</h4>
                <p class="topic_desc">
                  If it is important to you, it&apos;s important to us.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/about/feedback" target="_self">
              <img class="link-pic" alt="Feedback" src="/img/links/about/feedback.jpg">
              <div class="link-block">
                <h4 class="topic_name">Feedback</h4>
                  <p class="topic_desc">
                    Patients are happier with HON, and so are clients.
                  </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/about/affiliates" target="_self">
              <img class="link-pic" alt="Affiliates" src="/img/links/about/affliates.jpg">
              <div class="link-block">
                <h4 class="topic_name">Affiliates</h4>
                <p class="topic_desc">
                  Partners in industry excellence and education.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row testify justify-content-center" id="testimony">
        <div class="col-lg-8">
          <blockquote class="client-quote">
            <span>
              <p>
                HON has treated our patients with respect and we have seen a significant reduction in customer complaints while at the same time an increase in our cash collections. HON operates as a true partner and accommodates any of our requests in a timely manner.
              </p>
            </span>
            <footer class="blockquote-footer">Client Quote</footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="row callout lg align-items-center">
      <div class="col-4 callout-photo-container">
        <img class="callout-photo" src="/img/action/universe.jpg">
      </div>
      <div class="col-8">
        <h1>Clients are the center of our universe</h1>
      </div>
    </div>

    <% include partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>

