<!DOCTYPE html>
<html>
<head>
  <title>About HON</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="/favicon.ico" type="image/x-icon" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/nav_style.css">
  <link rel="stylesheet" href="/stylesheets/tab-style.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <script defer src="/js/fontawesome-all.js"></script>
</head>
<body>
  <% include partials/navigation %>

  <div id="image-box">
    <div class="container-fluid">
      <div class="row header">
        <div class="col"></div>
        <div class="col-12 text-center">
          <h1 class="tagline">
            <b>Cutting New Paths</b>
            <br>Since 1998
            <span />
          </h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row body">
          <h4 class="text-center banner">
            Clients Breathe Easier With HON
          </h4>
        </div>
      </div>

      <div id="see_more" class="text-center scroll">
        <a href="#intro" id="scroll_down">
          <div id="more_circle">
            <i class="fas fa-angle-down fa-1x">
            </i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid main" id="intro">
    <div class="row justify-content-center seeing">
      <div class="col-sm-10 col-md-4 col-lg-4">
        <h1 class="page-header">Expert Solutions, Outstanding Service</h1>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-6">
        <h3 class="intro_content">
          Located in Lakewood CO, we have been supporting our clients and enabling them to continue doing what they do best &#45; caring for their patients and surrounding communities &#45; since 1998.  We operate on the basic principle of building meaningful and lasting client relationships, providing outstanding customer service, and supporting our clients in actualizing their financial goals.
        </h3>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row about justify-content-center">
      <div class="col-md-6 padding-right">
        <h5>Early-Out Specialist</h5>
        <p>
          As early-out specialists, we offer a variety of services to the healthcare industry that are client specific and designed to resolve accounts receivable issues. Simply, we believe revenue goals can be met and consistently exceeded without sacrificing values or community relationships. We are committed to increasing our clients' revenue, decreasing clients’ costs, boosting patient satisfaction, and promoting positive relationships by combining innovative programs, data driven workflows and a highly trained staff with state-of-the-art technology.
        </p>
      </div>
      <div class="col-md-4">
        <h6>We provide:</h6>
        <ul class="weProvide">
          <li>Increased cash revenue</li>
          <li>Resources to help reduce A/R</li>
          <li>Superior customer service</li>
          <li>Enhanced community relations</li>
          <li>Decreased operating cost</li>
          <li>Valuable benchmarking</li>
          <li>Extensive reporting</li>
          <li>Open communication</li>
          <li>A successful partnership</li>
          <li>State of the art technology</li>
          <li>Support in achieving goals and initiatives</li>
          <li>A knowledgeable sounding board</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid card-block">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="/img/links/about/mission.jpg" alt="Mission / Vision">
            <div class="card-body">
              <a class="topic-link" href="/test/about/mission" target="_self">
                <span class="fas fa-arrow-right fa-sm"></span>
                <h5 class="card-title">Mission / Vision</h5>
                <p class="card-text">Turning the ordinary into the extraordinary in all we do.</p>
              </a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/img/links/about/values.jpg" alt="Our Values at HON">
            <div class="card-body">
              <a class="topic-link" href="/test/about/values" target="_self">
                <span class="fas fa-arrow-right fa-sm"></span>
                <h5 class="card-title">Our Values at HON</h5>
                <p class="card-text">Seeing our clients thrive throughout the 21st century.</p>
              </a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/img/links/about/relationships.jpg" alt="Relationships">
            <div class="card-body">
              <a class="topic-link" href="/test/about/relationships" target="_self">
                <span class="fas fa-arrow-right fa-sm"></span>
                <h5 class="card-title">Relationships</h5>
                <p class="card-text">If it is important to you, it&apos;s important to us.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid card-block">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="/img/links/about/feedback.jpg" alt="Feedback">
            <div class="card-body">
              <a class="topic-link" href="/test/about/feedback" target="_self">
                <span class="fas fa-arrow-right fa-sm"></span>
                <h5 class="card-title">Feedback</h5>
                <p class="card-text">Patients are happier with HON, and so are clients.</p>
              </a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/img/links/about/affliates.jpg" alt="Affiliates">
            <div class="card-body">
              <a class="topic-link" href="/test/about/affiliates" target="_self">
                <span class="fas fa-arrow-right fa-sm"></span>
                <h5 class="card-title">Affiliates</h5>
                <p class="card-text">Partners in industry excellence and education.</p>
              </a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/img/links/about/philosophy.png" alt="Affiliates">
            <div class="card-body">
              <a class="topic-link" href="/test/about/philosophy" target="_self">
                <span class="fas fa-arrow-right fa-sm"></span>
                <h5 class="card-title">Business Philosophy</h5>
                <p class="card-text">Optimizing account recoveries and patient relations.</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid card-block">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card-deck">
          <div class="card placeholder-card">
          </div>
          <div class="card">
            <img class="card-img-top" src="/img/links/about/cs.jpg" alt="Affiliates">
            <div class="card-body">
              <a class="topic-link" href="/test/about/customerservice" target="_self">
                <span class="fas fa-arrow-right fa-sm"></span>
                <h5 class="card-title">Customer Service</h5>
                <p class="card-text">Customer Service is the center of our universe.</p>
              </a>
            </div>
          </div>
          <div class="card placeholder-card">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row testify justify-content-center" id="testimony">
    <div class="col-md-10">
      <div class="client-quote">
        <p>
          HON has treated our patients with respect and we have seen a significant reduction in customer complaints while at the same time an increase in our cash collections. HON operates as a true partner and accommodates any of our requests in a timely manner.
        </p>
        <footer class="blockquote-footer">Client Quote</footer>
      </div>
    </div>
  </div>

  <%- include('partials/quote', {img: '/img/action/universe.jpg', title: 'Clients are the center of our universe'}); %>

  <% include partials/footer %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>
