<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Contact HON</title>
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <script defer src="/js/fontawesome-all.js"></script>
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
  </head>
  <body>
    <% include partials/navigation %>

    <div class="container-fluid margin-top medium-space" id="intro">
      <div class="row top justify-content-center">
        <div class="col-sm-12 col-sm-8 col-md-8 col-lg-8 col-lg-6">
          <h1 class="font-weight-bold text-center">Thanks for visiting Today!</h1>
          <p class="text-center">
            Please use the form below to contact us
          </p>
          <span class="border"/>
        </div>
      </div>
    </div>

    <div class="container-fluid margin-bottom">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="boxed-grey contact-form">
            <form id="contact-form" action="/email/form-to-email.php" method="post">
              <div class="row justify-content-center">
                <div class="col-sm-8 col-md-8 col-lg-8">
                  <div class="form-group">
                    <label for="name">
                      Name
                    </label>
                    <input type="text" name="name" class="form-control" id="name" autocomplete="name" placeholder="Enter name" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="email">
                      Email Address
                    </label>
                    <input name="email" type="email" autocomplete="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                  </div>
                  <div class="form-group">
                    <label for="tel">
                      Phone Number
                    </label>
                    <input name="tel" type="tel" autocomplete="none" class="form-control" id="tel" placeholder="please include area code" required="required" />
                  </div>
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="contactMethod" id="emailRadio" value="email" checked>
                      <label class="form-check-label" for="emailRadio">
                        Contact me by email above
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="contactMethod" id="phoneRadio" value="phone">
                      <label class="form-check-label" for="phoneRadio">
                        Call me at the phone number above
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                  <div class="form-group">
                    <label for="name">
                      Message
                    </label>
                    <textarea name="message" id="message" class="form-control" rows="5" cols="25" required="required" placeholder="Message" maxlength="500"></textarea>
                    <p class="small">(<span id="chars"></span> characters remaining)</p>
                  </div>
                </div>
                <div id="errors"></div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                  <div class="g-recaptcha" data-sitekey="6LfRAVEUAAAAAJgTE0ZQDFKGOIgsLAmjr_yR9bEw"></div>
                  <br/>
                  <input type="submit" value="Submit">
                </div>
              </div>
            </form>
            <div id='msg_submitting'><h2>Submitting ...</h2></div>
            <div id='msg_submitted'><h2>Thank you !<br> The form was submitted Successfully.</h2></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-sm-8 col-md-8 col-lg-8">
          <div class="widget-contact">
            <h5>Main Office</h5>
            <address>
              <strong>Healthcare Outsourcing Network, L.L.C</strong><br>
              1597 Cole Boulevard, Suite 150<br>
              Lakewood, CO 80401&#45;3428<br>
              <abbr title="Phone">P&#58;</abbr> (303) 296&#45;3599
            </address>
          </div>
        </div>
      </div>
    </div>

    <% include partials/footer %>

	<!-- /Section: contact -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/contact_us.js"></script>
  </body>
</html>
