<!DOCTYPE html>
<html>
  <head>
    <title>HON Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/calendar.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/events.css">
    <link href='/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    <link href='/fullcalendar/packages/timegrid/main.css' rel='stylesheet' />
    <link href='/fullcalendar/packages/list/main.css' rel='stylesheet' />
    <script src='/fullcalendar/packages/core/main.js'></script>
    <script src='/fullcalendar/packages/timegrid/main.js'></script>
    <script src='/fullcalendar/packages/list/main.js'></script>
    <script src='/fullcalendar/packages/interaction/main.js'></script>
    <script src='/fullcalendar/packages/daygrid/main.js'></script>
    <script defer src="/js/fontawesome-all.js"></script>
    <script>

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar1');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'interaction', 'interaction', 'dayGrid', 'timeGrid', 'list' ],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,listMonth'
        },
        defaultDate: '2019-04-12',
        weekNumbers: false,
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [
          {
            title: 'All Day Event',
            start: '2019-04-01'
          },
          {
            title: 'Long Event',
            start: '2019-04-07',
            end: '2019-04-10'
          },
          {
            groupId: 999,
            title: 'Repeating Event',
            start: '2019-04-09T16:00:00'
          },
          {
            groupId: 999,
            title: 'Repeating Event',
            start: '2019-04-16T16:00:00'
          },
          {
            title: 'Conference',
            start: '2019-04-11',
            end: '2019-04-13'
          },
          {
            title: 'Meeting',
            start: '2019-04-12T10:30:00',
            end: '2019-04-12T12:30:00'
          },
          {
            title: 'Lunch',
            start: '2019-04-12T12:00:00'
          },
          {
            title: 'Meeting',
            start: '2019-04-12T14:30:00'
          },
          {
            title: 'Happy Hour',
            start: '2019-04-12T17:30:00'
          },
          {
            title: 'Dinner',
            start: '2019-04-12T20:00:00'
          },
          {
            title: 'Birthday Party',
            start: '2019-04-13T07:00:00'
          },
          {
            title: 'Click for Google',
            url: 'http://google.com/',
            start: '2019-04-28'
          }
        ]
      });

      calendar.render();
    });

    </script>
  </head>
  <body>
    <% include partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline shadow-sm">
              <b>Exploring New Insights</b>
              <br />
              &amp; New Opportunities
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner shadow-sm p-3 mb-5">
              Using Technology to Maximize Revenue
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="intro">
      <div class="row top justify-content-center medium-space">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">Join us at an Event</h1>
          <span class="border"/>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div id='calendar1'></div>
        </div>
      </div>
    </div>

    <!-- <div class="container-fluid" id="intro">
      <div class="row top justify-content-center medium-space">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">Upcoming Event</h1>
          <span class="border"/>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class='container-event'>
            <% var eventCount = 0; %>
            <% events.forEach(function(event){ %>
            <% event.startDate = moment(event.startDate).add(7, 'hours'); %>
            <% event.endDate = moment(event.endDate).add(7, 'hours'); %>
            <% if(event.endDate.isSameOrAfter(currentDate, 'day') && eventCount < 8) { %>
            <div class="list-group-item">
              <div class="row">
                <div class="col-12 event-name">
                  <%= event.eventName %>
                </div>
                <div class="col-6 text-center event-date">
                  <%= event.startDate.format("MM/DD/YYYY") %> - <%= event.endDate.format("MM/DD/YYYY") %>
                </div>
                <div class="col-6 text-right">
                  <%= event.location %>
                </div>
              </div>
            </div>
            <% eventCount++; %>
            <% } %>
            <% }) %>

          </div>
        </div>
      </div>
    </div> -->

    <% include partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js" integrity="sha256-zG8v+NWiZxmjNi+CvUYnZwKtHzFtdO8cAKUIdB8+U9I=" crossorigin="anonymous"></script>
<!--    <script src="/js/calendar.js" type="text/javascript"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
