<!DOCTYPE html>
<html>
  <head>
    <title>HON Leadership</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leader.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>
    <% include partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Leading the Way</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Exploring New Terrain
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid medium-space" id="intro">
      <div class="row top justify-content-center">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">The Right People, In The Right Place,<br> At The Right Time</h1>
          <p class="text-center">
            &quot;A leader has the vision and conviction that a dream can be achieved.<br>He or she inspires the power and energy to get it done.&quot;
          </p>
          <p class="quote-people">
            - Ralph Lauren
          </p>
          <span class="border"/>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-6 padding-right">
          <h5>Inspiring Others with Bold Leadership</h5>
          <p>
            Leadership at HON is about getting extraordinary things done; turning the ordinary into the extraordinary.  It is about action and the transformation of people, processes, and technology for the good of the company, our employees, and our clients.  We believe it does not require a title to be a leader, so we empower our staff to think beyond the ordinary, to help inspire others, to help lead the company and its clients to the next summit.
          </p>
        </div>
        <div class="col-md-4">
          <h6>We Provide:</h6>
          <ul class="weProvide">
            <li>Smart People</li>
            <li>Cooperative People</li>
            <li>Dedicated People</li>
            <li>Experience</li>
            <li>Legal Knowledge</li>
            <li>A Respected History</li>
            <li>Strategic Planning and Management</li>
            <li>A Partner Who Does What is Right</li>
            <li>A Partner Who Does What They Say and More</li>
            <li>A Partner Looking After Your Best Interest</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid card-block">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card-deck">
            <div class="card">
              <a class="topic-link" href="/test/groups/summit" target="_self">
              <img alt="Team Summit" src="/img/links/leadership/peak.jpg">
                <div class="card-body">
                  <span class="fas fa-arrow-right fa-sm"></span>
                  <h5 class="card-title">Team Summit:</h5>
                  <p class="card-text">The owners of the Company ensure that each team member has the vision, direction and encouragement to continuously put one foot forward to reach another peak&hellip; another goal.</p>
                </div>
              </a>
            </div>
            <div class="card">
              <a class="topic-link" href="/test/groups/groomers" target="_self">
                <img alt="Black Diamond" src="/img/links/leadership/black-diamond.jpg">
                <div class="card-body">
                  <span class="fas fa-arrow-right fa-sm"></span>
                  <h5 class="card-title">Black Diamond Groomers:</h5>
                  <p class="card-text">The Black Diamond Groomers make sure that our partnership with our clients runs smoothly and that together, we find operational efficiencies and extraordinary results.</p>
                </div>
              </a>
            </div>
            <div class="card">
              <a class="topic-link" href="/test/groups/miners" target="_self">
                <img alt="Technology" src="/img/links/leadership/gold-miners.jpg">
                <div class="card-body">
                  <span class="fas fa-arrow-right fa-sm"></span>
                  <h5 class="card-title">The Gold Miners:</h5>
                  <p class="card-text">Our IT Team helps make your life easier with advanced technology (data analytics, virtual agents, artificial intelligence, process automation, and business intelligent reporting.)</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid card-block">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card-deck">
            <div class="card">
              <a class="topic-link" href="/test/groups/pathfinders" target="_self">
                <img alt="Pathfinders" src="/img/links/leadership/pathfinders.jpg">
                <div class="card-body">
                  <span class="fas fa-arrow-right fa-sm"></span>
                  <h5 class="card-title">Pathfinders</h5>
                  <p class="card-text">They are the explorers, introducing our superior services to new healthcare systems so that we continuously expand our horizons.</p>
                </div>
              </a>
            </div>
            <div class="card">
              <a class="topic-link" href="/test/groups/shackleton" target="_self">
                <img alt="Shackleton" src="/img/links/leadership/shackleton.jpg">
                <div class="card-body">
                    <span class="fas fa-arrow-right fa-sm"></span>
                    <h5 class="card-title">Team Shackleton:</h5>
                    <p class="card-text">Team Shackleton is known for sticking together and working together for the good of all. We want our clients to do more than survive.  We want them to thrive.</p>
                </div>
              </a>
            </div>
            <div class="card">
              <a class="topic-link" href="/test/groups/miners" target="_self">
                <img alt="First Tracks" src="/img/links/leadership/first-tracks.jpg">
                <div class="card-body">
                    <span class="fas fa-arrow-right fa-sm"></span>
                    <h5 class="card-title">First Tracks Team:</h5>
                    <p class="card-text">Up early and eager to go, this team is dedicated. They lay the tracks for extraordinary patient service by understanding there is no second chance in making a first impression.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row testify justify-content-center" id="testimony">
      <div class="col-md-10">
        <div class="client-quote">
            <i class="fas fa-quote-right">
            </i>
            <p>
              Healthcare Outsourcing Network is more like a critical department right down the hall from my office.  They are a true partner in every sense of the word.
            </p>
          <footer class="blockquote-footer">Client Quote</footer>
        </div>
      </div>
    </div>

    <%- include('partials/quote', {img: '/img/action/graphs.jpg', title: 'A Partner Who Does What They Say and More'}); %>

    <% include partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
