<!DOCTYPE html>
<html>
  <head>
    <title>HON Leadership</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leader.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>
    <% include partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Leading the Way</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Exploring New Terrain
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="top">
      <div class="row justify-content-center">
        <div class="col-sm-10">
          <h2 class="text-center small-space"><strong>The Right People, In The Right Place,<br> At The Right Time</strong></h2>
          <h3 class="text-center">
            &quot;A leader has the vision and conviction that a dream can be achieved.<br>He or she inspires the power and energy to get it done.&quot; &#45; Ralph Lauren
          </h3>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-5">
          <h5>Spark, Inspire&hellip; Seeing the Possibilities </h5>
          <p>
            Leadership at HON is about getting extraordinary things done; turning the ordinary into the extraordinary.  It is about action and the transformation of people, processes, and technology for the good of the company, our employees, and our clients.  We believe it does not require a title to be a leader, so we empower our staff to think beyond the ordinary, to help inspire others, to help lead the company and its clients to the next summit.
          </p>
        </div>
        <div class="col-md-5">
          <h5>We Provide:</h5>
          <ul class="weProvide">
            <li>Smart People</li>
            <li>Cooperative People</li>
            <li>Dedicated People</li>
            <li>Experience</li>
            <li>Legal Knowledge</li>
            <li>A Respected History</li>
            <li>Strategic Planning and Management</li>
            <li>A Partner Who Does What is Right</li>
            <li>A Partner Who Does What They Say and More</li>
            <li>A Partner Looking After Your Best Interest</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="navs" id="navs">
        <div class="row justify-content-center">
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/groups/summit" target="_self">
              <img class="link-pic" alt="Team Summit" src="/img/links/leadership/peak.jpg">
              <div class="link-block">
                <h4 class="topic_name">Team Summit:</h4>
                <p class="topic_desc">
                  The owners of the Company ensure that each team member has the vision, direction and encouragement to continuously put one foot forward to reach another peak&hellip; another goal.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/groups/groomers" target="_self">
              <img class="link-pic" alt="Black Diamond" src="/img/links/leadership/black-diamond.jpg">
              <div class="link-block">
                <h4 class="topic_name">Black Diamond Groomers:</h4>
                <p class="topic_desc">
                  The Black Diamond Groomers make sure that our partnership with our clients runs smoothly and that together, we find operational efficiencies and extraordinary results.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/groups/miners" target="_self">
              <img class="link-pic" alt="Technology" src="/img/links/leadership/gold-miners.jpg">
              <div class="link-block">
                <h4 class="topic_name">The Gold Miners:</h4>
                <p class="topic_desc">
                  Our IT Team helps make your life easier with advanced technology (data analytics, virtual agents, artificial intelligence, process automation, and business intelligent reporting.)
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/groups/pathfinders" target="_self">
              <img class="link-pic" alt="Pathfinders" src="/img/links/leadership/pathfinders.jpg">
              <div class="link-block">
                <h4 class="topic_name">Pathfinders</h4>
                <p class="topic_desc">
                  They are the explorers, introducing our superior services to new healthcare systems so that we continuously expand our horizons.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/groups/shackleton" target="_self">
              <img class="link-pic" alt="Shackleton" src="/img/links/leadership/shackleton.jpg">
              <div class="link-block">
                <h4 class="topic_name">Team Shackleton:</h4>
                <p class="topic_desc">
                  Team Shackleton is known for sticking together and working together for the good of all. We want our clients to do more than survive.  We want them to thrive.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>

          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/groups/team" target="_self">
              <img class="link-pic" alt="First Tracks" src="/img/links/leadership/first-tracks.jpg">
              <div class="link-block">
                <h4 class="topic_name">First Tracks Team:</h4>
                <p class="topic_desc">
                  Up early and eager to go, this team is dedicated. They lay the tracks for extraordinary patient service by understanding there is no second chance in making a first impression.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row testify justify-content-center" id="testimony">
      <div class="col-md-10">
        <div class="client-quote">
            <p>
              Healthcare Outsourcing Network is more like a critical department right down the hall from my office.  They are a true partner in every sense of the word.
            </p>
          <footer class="blockquote-footer">Client Quote</footer>
        </div>
      </div>
    </div>

    <div class="row callout justify-content-center">
      <div class="col-12 callout-photo-container">
        <img class="rounded-circle callout-photo" src="/img/action/graphs.jpg">
      </div>
      <div class="col-12">
        <h1 class="text-center">A Partner Who Does What They Say and More</h1>
      </div>
    </div>

    <% include partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
