<!DOCTYPE html>
<html>
  <head>
    <title>HON Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/service.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/service-links.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>
    <% include partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Join Us at the Top</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Elevate
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!--<img class="top" src="/img/Backgrounds/Services/stock-photo-successful-people-targeting-the-summit-760838695.jpg">-->
    <div class="container-fluid" id="top">
      <div class="top">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h2 class="text-center"><strong>Smart People + Smart Technology = HON</strong></h2>
            <h3>
              When thinking of vendors, does the story of Three Bears come to mind? This Company is too big! There is no flexibility, no personalized attention, implementations take 6 months and there is too much work for our staff. Or, are you thinking this Company is too small! There is no automation, no customization, no advanced technology, and there is too much work for our staff.
            </h3>
            <h3>
              With HON you are getting a company that is Just Right!
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-4">
          <h5>Services &#45; The HON Difference</h5>
          <p>
           Our reputation is built on hard work, personalized service, a helpful and caring staff, innovative technology, industry knowledge and extraordinary results. If you are seeking extraordinary services, contact us to discuss what we can do for you.
          </p>
          <p>
            We never stop working to exceed expectations.  We will go above and beyond to deliver the highest service for you, your staff and your patients.
          </p>
        </div>
        <div class="col-md-4">
          <h5>Our clients receive:</h5>
          <ul class="weProvide">
            <li>Personal attention and quick turn arounds</li>
            <li>Smart people and smart technology that deliver results</li>
            <li>Intelligent reporting and customized programs</li>
            <li>Thoughtful attention to the details that matter</li>
            <li>Efficiencies and automation in processes</li>
            <li>A knowledgeable sounding board</li>
            <li>A burden free partnership and flexibility in all that we do</li>
            <li>Open, professional and helpful communication</li>
            <li>Enhanced patient and staff relations</li>
            <li>A friendly, hardworking, supportive partner</li>
            <li>A partner you trust</li>
            <li>A partner with whom you want to collaborate</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="navs" id="navs">
        <div class="row justify-content-center">

<!--**************************************************************************************************************************************-->
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/services/balanceMgt" target="_self">
              <img class="link-pic" alt="Early Out" src="/img/links/services/earlyout.jpg">
              <div class="link-block">
                <h4 class="topic_name">Patient Balance Management</h4>
                  <p class="topic_desc">
                    HON specializes in managing extended business office projects.
                  </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
<!--**************************************************************************************************************************************-->

<!--**************************************************************************************************************************************-->
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/services/insurance" target="_self">
              <img class="link-pic" alt="Insurance Follow Up" src="/img/links/services/insurance.jpg">
              <div class="link-block">
                <h4 class="topic_name">Insurance Follow-up</h4>
                  <p class="topic_desc">
                    Brining Solutions To Reach Your Receivable Goals.
                  </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
<!--**************************************************************************************************************************************-->

<!--**************************************************************************************************************************************-->
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/services/callCenter" target="_self">
              <img class="link-pic" alt="Call Center" src="/img/links/services/callcenter.jpg">
              <div class="link-block">
                <h4 class="topic_name">Call Center Support</h4>
                  <p class="topic_desc">
                    No longer do you need to sweat the coverage; we answer the calls when you can&apos;t.
                  </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
<!--**************************************************************************************************************************************-->

<!--**************************************************************************************************************************************-->
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/services/intelligence" target="_self">
              <img class="link-pic" alt="Chatbot" src="/img/links/services/chatbot.jpg">
              <div class="link-block">
                <h4 class="topic_name">Virtual Agents With Artificial Intelligence</h4>
                  <p class="topic_desc">
                    80&#37; of businesses want to deploy virtual agents by 2020 &#45;Don't get left behind!
                  </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
<!--**************************************************************************************************************************************-->

<!--**************************************************************************************************************************************-->
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/services/analytics" target="_self">
              <img class="link-pic" alt="Analytics" src="/img/links/services/analytics.jpg">
              <div class="link-block">
                <h4 class="topic_name">Data Analytics with Machine Learning</h4>
                  <p class="topic_desc">
                    The best vision is insight.  Get the data you need to make smarter business decisions.
                  </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
<!--**************************************************************************************************************************************-->

<!--**************************************************************************************************************************************-->
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/services/rpa" target="_self">
              <img class="link-pic" alt="Robotic Process Automation" src="/img/links/services/RPA.jpg">
              <div class="link-block">
                <h4 class="topic_name">Robotic Process Automation (RPA)</h4>
                  <p class="topic_desc">
                    Streamline processes and optimize your workforce by adding automation.
                  </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
<!--**************************************************************************************************************************************-->

<!--**************************************************************************************************************************************-->
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/services/training" target="_self">
              <img class="link-pic" alt="Training" src="/img/links/services/training.jpg">
              <div class="link-block">
                <h4 class="topic_name">Training</h4>
                  <p class="topic_desc">
                    Our training program is designed to help our partnerships thrive.
                  </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
<!--**************************************************************************************************************************************-->

<!--**************************************************************************************************************************************-->
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/services/qa" target="_self">
              <img class="link-pic" alt="Quality" src="/img/links/services/qa.jpg">
              <div class="link-block">
                <h4 class="topic_name">Quality Assurance</h4>
                  <p class="topic_desc">
                    Human-Centric Customer Service; going above and beyond in service.
                  </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
<!--**************************************************************************************************************************************-->

<!--**************************************************************************************************************************************-->
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/services/benchmarking" target="_self">
              <img class="link-pic" alt="Benchmarking" src="/img/links/services/benchmark.jpg">
              <div class="link-block">
                <h4 class="topic_name">Benchmarking</h4>
                <div class="topic_desc">
                  <p class="topic_desc">
                    Benchmarking is never a one-time event; it gives us insight to take action.
                  </p>
                </div>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
<!--**************************************************************************************************************************************-->

        </div> <!-- row        -->
      </div>   <!-- "navs" div -->
    </div>     <!-- container  -->

    <div class="row testify justify-content-center" id="testimony">
      <div class="col-md-10">
        <div class="client-quote">
            <p>
              On more than one occasion, we have measured HON&apos;s results against other vendors and HON has consistently delivered superior results. HON is very innovative and future thinking on how to provide our organization and our community with excellent customer service. The numbers speak for themselves &#45; we have improved collections by 60&#37;.
            </p>
          <footer class="blockquote-footer">Client Quote</footer>
        </div>
      </div>
    </div>

    <%- include('partials/quote', {img: '/img/action/keyboard.jpg', title: 'Turn Ordinary Early-Out Services Into Extraordinary Results'}); %>

    <% include partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
