<!DOCTYPE html>
<html>
  <head>
    <title>HON Technology</title>
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>
    <% include partials/navigation %>
    <div id="image-box">
      <img class="top" src="/img/Backgrounds/tech.jpg">
      <div class="top-center">
        <h2><strong>Bringing Big Ideas Into the Light</strong></h2>
      </div>
      <div class="lower-left">
        <h1 class="lower"><strong>Using Technology<br>to Maximize Revenue</strong></h1>
      </div>
    </div>
    <div class="container-fluid" id="top">
      <div class="top">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h1 class="text-center"><strong>Smart Technology at HON</strong></h1>
          </div>
          <div class="col-sm-10 col-xs-12">
            <h3>
              HON capitalizes on the power of technology to work smarter and faster for our clients and to produce the consistent, accurate and timely results on which we have built our reputation. HON is constantly evaluating technologies as they emerge and implementing new solutions that maintain our stated goal of operating on the forefront of new technologies. This ensures our systems meet and exceed our continued growth requirements and those of our clients.
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-4">
          <h4><strong>Technology</strong></h4>
          <p>
            We believe our technology is an asset that truly sets us apart. We ensure our systems are the most sophisticated, dependable and user-friendly programs available. We understand that successful healthcare operations need to always embrace new ideas, new solutions and new technological advancements to strategically stay ahead.
          </p>
        </div>
        <div class="col-md-4">
          <h4><strong>Components</strong></h4>
          <p>
            Everything from our operating system, to our telephone system, our queueing system, our patient and client web portal, our virtual agent, our automation, our reporting and our data analytics is state-of-the-art. A few highlights of our technology is set out below.
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">

    </div>

    <div class="container-fluid">
      <div class="navs part2" id="navs">
        <div class="row justify-content-center">
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/technologies/platform" target="_self">
              <img class="link-pic" alt="Operating" src="/img/links/technology/operating.jpg">
              <div class="link-block">
                <h4 class="topic_name">Operating Platform</h4>
                <p class="topic_desc">
                  A system working for our clients 24/7.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/technologies/telephone" target="_self">
              <img class="link-pic" alt="Phone" src="/img/links/technology/telephone.jpg">
              <div class="link-block">
                <h4 class="topic_name">Telephone System</h4>
                <p  class="topic_desc">
                  Best in class telephony.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>

          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/technologies/advanced" target="_self">
              <img class="link-pic" alt="Advanced" src="/img/links/technology/advanced.jpg">
              <div class="link-block">
                <h4 class="topic_name">Advanced Technology</h4>
                <p class="topic_desc">
                  Going beyond the basics.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
          <div class="col-xl-3 col-md-4 col-sm-5 col-xs-10 link-item">
            <a class="topic-link" href="/test/technologies/reporting" target="_self">
              <img class="link-pic" alt="Reports" src="/img/links/technology/data_analytics.jpg">
              <div class="link-block">
                <h4 class="topic_name">Business Intelligent Reporting</h4>
                <p class="topic_desc">
                  Intelligent reporting at your fingertips.
                </p>
                <div class="link-shade"><span class="helper"></span><i class="vcenter fas fa-angle-right"></i></div>
              </div>
            </a>
          </div>
        </div>
      </div>
       <div class="row testify justify-content-center" id="testimony">
        <div class="col-lg-8">
          <blockquote class="client-quote">
            <span>
              <p>
                We do not have the sophisticated reporting and technology that HON&apos;s office can provide. HON&apos;s technology has increased our efficiency by automating processes and eliminating unnecessary bottlenecks.  They find a way to say yes to our requests.
              </p>
            </span>
            <footer class="blockquote-footer">Client Quote</footer>
          </blockquote>
        </div>
      </div>
    </div>

    <div class="row callout align-items-center">
      <div class="col-4 callout-photo-container">
        <img class="callout-photo" src="/img/action/desk.jpg">
      </div>
       <div class="col-8">
        <h1>New Solutions and New Technological Advances</h1>
      </div>
    </div>



    <% include partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>

