<!DOCTYPE html>
<html>
  <head>
    <title>HON Technology</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/technology.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>
    <% include partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Bringing Big Ideas</b>
              <br />
              Into the Light
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Using Technology to Maximize Revenue
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid main" id="intro">
      <div class="row justify-content-center seeing">
        <div class="col-sm-10 col-md-4 col-lg-4">
          <h1 class="page-header">Smart Technology at HON</h1>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-6">
          <h3 class="intro_content">
            HON capitalizes on the power of technology to work smarter and faster for our clients and to produce the consistent, accurate and timely results on which we have built our reputation. HON is constantly evaluating technologies as they emerge and implementing new solutions that maintain our stated goal of operating on the forefront of new technologies.
          </h3>
        </div>
      </div>
    </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-6 padding-right">
          <h5>Technology</h5>
          <p>
            We believe our technology is an asset that truly sets us apart. We ensure our systems are the most sophisticated, dependable and user-friendly programs available. We understand that successful healthcare operations need to always embrace new ideas, new solutions and new technological advancements to strategically stay ahead.
          </p>
        </div>
        <div class="col-md-4">
          <h6>Components:</h6>
          <p>
            Everything from our operating system, telephone system, queueing system, patient and client web portal, virtual agent, automated workforce, reporting and our data analytics is state-of-the-art. A few highlights of our technology is set out on the following pages.
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid card-block">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card-deck">
            <div class="card">
              <a class="topic-link" href="/test/technologies/platform" target="_self">
                <img alt="Team Summit" alt="Operating" src="/img/links/technology/operating.jpg">
                <div class="card-body">
                  <span class="fas fa-arrow-right fa-sm"></span>
                  <h5 class="card-title">Operating Platform</h5>
                  <p class="card-text">A system working for our clients 24/7.</p>
                </div>
              </a>
            </div>
            <div class="card">
              <a class="topic-link" href="/test/technologies/telephone" target="_self">
                <img alt="Phone" src="/img/links/technology/telephone.jpg">
                <div class="card-body">
                  <span class="fas fa-arrow-right fa-sm"></span>
                  <h5 class="card-title">Telephone System</h5>
                  <p class="card-text">Best in class telephony.</p>
                </div>
              </a>
            </div>
            <div class="card">
              <a class="topic-link" href="/test/technologies/reporting" target="_self">
                <img alt="Reports" src="/img/links/technology/data_analytics.jpg">
                <div class="card-body">
                  <span class="fas fa-arrow-right fa-sm"></span>
                  <h5 class="card-title">Business Intelligent Reporting</h5>
                  <p class="card-text">Intelligent reporting at your fingertips.</p>
                </div>
              </a>
            </div>
            <!-- <div class="card">
              <img alt="Advanced" src="/img/links/technology/advanced.jpg">
              <div class="card-body">
                <a class="topic-link" href="/test/technologies/advanced" target="_self">
                  <span class="fas fa-arrow-right fa-sm"></span>
                  <h5 class="card-title">Advanced Technology</h5>
                  <p class="card-text">Going beyond the basics.</p>
                </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="container-fluid card-block">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card-deck">
            <div class="card placeholder-card">

            </div>
            <div class="card">
              <img alt="Reports" src="/img/links/technology/data_analytics.jpg">
              <div class="card-body">
                <a class="topic-link" href="/test/technologies/reporting" target="_self">
                  <span class="fas fa-arrow-right fa-sm"></span>
                  <h5 class="card-title">Business Intelligent Reporting</h5>
                  <p class="card-text">Intelligent reporting at your fingertips.</p>
                </a>
              </div>
            </div>
            <div class="card placeholder-card">

            </div>
          </div>
        </div>
      </div>
    </div> -->


    <div class="row testify justify-content-center" id="testimony">
      <div class="col-md-10">
        <div class="client-quote">
            <i class="fas fa-quote-right">
            </i>
            <p>
              We do not have the sophisticated reporting and technology that HON&apos;s office can provide. HON&apos;s technology has increased our efficiency by automating processes and eliminating unnecessary bottlenecks.  They find a way to say yes to our requests.
            </p>
          <footer class="blockquote-footer">Client Quote</footer>
        </div>
      </div>
    </div>

    <%- include('partials/quote', {img: '/img/action/desk.jpg', title: 'New Solutions and New Technological Advances'}); %>

    <% include partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
