body{
  background: none;
}

img.top {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

#top {
  margin-top: 0;
}

.container {
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.container-fluid {
  background-color: white;
}

blockquote {
  /*font: 14px/20px italic Times, serif;*/
  font-style: italic;
  padding: 8px;
  background-color: rgba(62, 80, 91, 0.30);
  border: 1px solid #2E3B43;
  margin: 5px;
  background-image: url(/img/openquotes2-tb.png);
  background-position: top left;
  background-repeat: no-repeat;
  text-indent: 40px;
  color: #2E3B43;
  margin: 20px 5.0rem;
  width: 100%;
}

.client-quote footer {
  text-align: center;
  color: #FFF;
}

blockquote span {
  display: block;
  background-image: url(/img/closequotes2-tb.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.value::first-letter {
  text-decoration: underline;
}

.about {
  background: #404244;
}

.about h2{
  margin-bottom: 50px;
}

.about h6{
  margin-bottom: 20px!important;
  font-size: 22px!important;
  line-height: 27px!important;
}

.about li{
  color: white;
  font-size: 16px;
  line-height: 26px;
}

.about p{
  font-size: 16px;
  line-height: 26px;
}

.about .list-header{
  font-weight: bold;
}

#image-box {
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
  margin-top: 75px;
  height: 693px;
  position: relative;
  background: white url("/img/Backgrounds/about.jpg") no-repeat 100% 100%;
  background-size: 100% 100%;
}

#image-box .container-fluid{
  background: none;
}

#see_more{
  position: absolute;
  bottom: 0px;
  left: calc(50% - 15px);
}

.lower-left {
  position: absolute;
  bottom: 15%;
  left: 2%;
  text-align: left;
}

.upper-left {
  position: absolute;
  top: 2rem;
  left: 14rem;
  text-align: left;
}

.top-center {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.lower-right {
  position: absolute;
  bottom: 7.5rem;
  right: 14rem;
  text-align: right;
}

.upper-right {
  position: absolute;
  top: 10%;
  right: 14.5%;
  text-align: right;
}

#image-box h4{
  font-weight: 100;
  font-size: 20px;
  font-family: 'HelveticaNeueMedium', sans-serif;
  color: white;
  margin-bottom: 0;
  float: left;
  width: 100%;
}

h1.title-plain{
  font-family: 'HelveticaNeueMedium', sans-serif!important;
  margin-bottom: 50px;
}

.font-weight-bold{
  font-family: 'HelveticaNeueBold', sans-serif!important;
  font-weight: bold!important;
}

.value{
  font-size: 16px;
  line-height: 24px;
  color: #404244;
}
