#image-box {
  max-width: 100%;
  position: relative;
  text-align: center;
  color: white;
  margin-top: 75px;
  height: 600px;
  position: relative;
  background: white url("/img/Backgrounds/contact.jpg") no-repeat center center;
  background-size: 100% 120%;
}

#image-box .container-fluid{
  background: none;
}

#see_more{
  position: absolute;
  bottom: 0px;
  left: calc(50% - 10px);
}

#image-box h4{
  font-weight: 100;
  font-size: 20px;
  font-family: 'HelveticaNeueMedium', sans-serif;
  color: white;
  margin-bottom: 0;
  float: left;
  width: 100%;
}


.container {
  padding-top: 15px;
  padding-bottom: 100px;
  background-color: white;
  height: 100% !important;
}


.contact-form #msg_submitting{
    display:none;
}

.contact-form #msg_submitted{
    display:none;
}
div#errors{
    display:none;
}
.contact-form label.error, div#errors {
	border: 1px solid #F07F73 !important;
	margin-bottom: 3px;
	background: #F07F73;
	padding-left: 5px;
	color: #ffffff;
	font-family: 'Open Sans', 'sans-serif';
}

textarea {
  overflow-y: scroll;
  resize: none;
}

a {
  color: #002268 ;
}
