/*  This contains site-wide styling for the navigation bar  *
 *  and the stardrdized links at the bottom of the pages    */

.navbar-brand, .nav-item, .nav-link {
  transition: all 0.7s ease-out;
  font-family: 'HelveticaNeue', sans-serif;
  padding: 0!important;
}

.nav-item{
  margin-right: 40px;
}

.nav-item:last-child{
  margin-right: 20px;
}

.nav-item.current a{
  border-bottom: 4px solid #12345A;
}

.nav-item:hover, .nav-item:hover, .nav-link:hover {
  color: #12345A!important;
}

.dropdown-toggle{
  position: relative!important;
  padding-right: 15px!important;
}

.dropdown-toggle:after{
  display: none!important;
  content:""!important;
}

.dropdown .fa-angle-down{
  position: absolute!important;
  right: 0px!important;
  top: 5px!important;
  color: #12345A!important;
}

.link-wrapper {
  height: 200px;
  padding-top:10px;
  position: relative;
}

.icon-link {
  display: block;
}

.icon-link h3{
  font-size: 16px;
  line-height: 18px;
  margin: 0 0;
  color: #12345A!important;
}

.box_hover{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-left: 5px;
  width: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: all 0.25s linear;
  vertical-align: middle;
  font-size: 0.01rem;
  opacity: 0;
}

a:hover div.box_hover {
  width: 100%;
  opacity: 1;
  color: #8AB0AB;
  text-align: center;
  font-size: 4.0rem;
}


.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.helper+svg {
  vertical-align: middle;
}

.icon-wrapper {
  margin-bottom: 16px;
  color: #000000 !important;
  opacity: 0.5;
}

.icon-wrapper i {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 auto 16px auto;
}

.icon-about-us{
  background: url("../img/icon-about-us.svg") 0 0;
  background-size: 30px 30px;
}

.icon-leadership{
  background: url("../img/icon-leadership.svg") 0 0;
  background-size: 30px 30px;
}

.icon-services{
  background: url("../img/icon-services.svg") 0 0;
  background-size: 30px 30px;
}

.icon-technology{
  background: url("../img/icon-technology.svg") 0 0;
  background-size: 30px 30px;
}

.icon-events{
  background: url("../img/icon-events.svg") 0 0;
  background-size: 30px 30px;
}

.icon-contact{
  background: url("../img/icon-contact.svg") 0 0;
  background-size: 30px 30px;
}

.links {
  margin-top: 40px;
}

.col-md-3.link {
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
}
.fa-html5, .fa-css3-alt {
  /* float: right; */
  margin: 0 6px;
}

.fa-html5 {
  color: #E44D26;
}

.fa-css3-alt {
  color: #2965F1;
}

/* change the background color */
.navbar-custom {
    background-color: white;
    padding: 0;
}
.navbar-custom img{
    height: 45px;
    width: 45px;
}
.navbar-brand{
  margin-left: 15px;
  margin-top: 15px!important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #404244!important;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
}
.navbar-nav{
  margin-top: 25px;
}

.navbar-wrapper{
  height: 75px;
  overflow: hidden;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #12345A;
    height: 50px;
}
/* change the color of active or hovered links */
/*
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
*/
#copyright {
  width: 100%;
  background-color: #F4F4F4;
  vertical-align: bottom;
  margin: 0;
  padding-top: 50px!important;
  padding-bottom: 50px!important;
}

#copyright p{
  font-size: 16px;
  color: #404244;
  margin-bottom: 0;
}

#copyright .icons{
  float: right;
}

#footer-links {
  margin-bottom: 0;
}

#link-container {
  padding-bottom: 40px;
}

.dropdown-menu, .dropdown-item, .dropdown-divider {
  color: #002268;
  transition: all 0.7s ease-out;
  border-bottom: none!important;
}

.dropdown-item{
  font-family: 'HelveticaNeue', sans-serif;
  padding: 0.25rem 1.0rem;
  color: #404244;
}
.dropdown-item.head{
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: bold;
  color: #404244;
  padding: 0.25rem 0.5rem;
}

.dropdown-item:hover {
  color: #12345A;
  background: white;
}

.dropdown-menu.show{
  margin-top: -20px;
}

.navbar-nav .show>.nav-link{
  color: #12345A!important;
}

.navbar-custom .navbar-toggler {
  border: none;
  float: right;
  margin-top: 20px;
}

.navbar-toggler:hover{
  outline: none;
}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1,2,91, 1)' stroke-width='3' stroke-linecap='' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 1140px) {
  .navbar-brand img{
    float: left;
    margin-right: 10px;
  }
  .navbar-brand span{
    float: left;
    margin-top: 8px;
    font-size: 14px!important;
    line-height: 16px;
    width: 160px!important;
    word-wrap: break-word!important;
    display: inline!important;
    white-space: pre-wrap;
  }
  .navbar-collapse{
    border-top: 1px solid #DDDDDD;
    padding: 0 20px 0 20px;
  }
  .nav-item{
    border-bottom: 1px solid #DDDDDD;
  }
  .navbar-nav{
    margin-top: 0!important;
  }
  .nav-item{
    margin-right: 0px!important;
  }
  .navbar-wrapper{
    width: 100%;
  }
  .navbar-custom .navbar-nav .nav-link{
    font-family: 'HelveticaNeueBold', sans-serif!important;
     font-weight: normal!important;
     font-size: 14px!important;
     color: #404244!important;
     height: 50px!important;
     line-height: 50px!important;
  }
  .dropdown .fa-angle-down{
    top: 20px!important;
  }
  .nav-item.current a{
    border-bottom: none;
  }
  .nav-item .nav-link span{
    padding: 0 10px;
  }
  .nav-item.current .nav-link span{
    display: inline-block;
    height: 50px!important;
    line-height: 50px;
    border-bottom: 4px solid #12345A;
  }
  .dropdown-menu.show{
    padding: 5px 0px 20px 0px!important;
    margin: 0px!important;
    box-shadow: none!important;
    border: none!important;
  }
  .dropdown-item {
    font-size: 14px!important;
  }
}

@media only screen and (max-width: 992px) {
  .link_wrapper{
    margin-bottom: 30px;
  }
  .navbar-brand img{
    float: left;
    margin-right: 10px;
  }
  .navbar-brand span{
    float: left;
    margin-top: 8px;
    font-size: 14px!important;
    line-height: 16px;
    width: 160px!important;
    word-wrap: break-word!important;
    display: inline!important;
    white-space: pre-wrap;
  }
  .navbar-collapse{
    border-top: 1px solid #DDDDDD;
    padding: 0 20px 0 20px;
  }
  .nav-item{
    border-bottom: 1px solid #DDDDDD;
  }
  .navbar-nav{
    margin-top: 0!important;
  }
  .nav-item{
    margin-right: 0px!important;
  }
  .navbar-wrapper{
    width: 100%;
  }
  .navbar-custom .navbar-nav .nav-link{
    font-family: 'HelveticaNeueBold', sans-serif!important;
     font-weight: normal!important;
     font-size: 14px!important;
     color: #404244!important;
     height: 50px!important;
     line-height: 50px!important;
  }
  .dropdown .fa-angle-down{
    top: 20px!important;
  }
  .nav-item.current a{
    border-bottom: none;
  }
  .nav-item .nav-link span{
    padding: 0 10px;
  }
  .nav-item.current .nav-link span{
    display: inline-block;
    height: 50px!important;
    line-height: 50px;
    border-bottom: 4px solid #12345A;
  }
  .dropdown-menu.show{
    padding: 5px 0px 20px 0px!important;
    margin: 0px!important;
    box-shadow: none!important;
    border: none!important;
  }
  .dropdown-item {
    font-size: 14px!important;
  }
  #copyright p{
    text-align: center;
  }
  #copyright .icons{
    float: none;
    display: block;
    margin: 30px auto 0px auto;
    width: 78px;
  }
  .client-quote p{
    font-size: 22px!important;
    line-height: 34px!important;
    margin-bottom: 20px!important;
  }
  #main-slideshow{
    margin-top: 75px;
    position: relative;
    background: white url("/img/mountain_xxxl.jpg") no-repeat top center;
    background-size: 400% 1200px;
  }
}

.carousel-fade .carousel-item h4{
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active h4{
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active h4{
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
