/*  This contains site-wide styling for the navigation bar  *
 *  and the stardrdized links at the bottom of the pages    */

.navbar-brand, .nav-item, .nav-link {
  transition: all 0.7s ease-out;
  font-family: 'HelveticaNeue', sans-serif;
  padding: 0!important;
}

.nav-item{
  margin-right: 40px;
}

.nav-item.current a{
  border-bottom: 4px solid #12345A;
}

.nav-item:hover, .nav-item:hover, .nav-link:hover {
  color: #12345A!important;
}

.dropdown-toggle{
  position: relative!important;
  padding-right: 15px!important;
}

.dropdown-toggle:after{
  display: none!important;
  content:""!important;
}

.dropdown .fa-angle-down{
  position: absolute!important;
  right: 0px!important;
  top: 5px!important;
  color: #12345A!important;
}

.link-wrapper {
  height: 200px;
  padding-top:10px;
  position: relative;
}

.icon-link {
  display: block;
}

.icon-link h3{
  font-size: 16px;
  line-height: 18px;
  margin: 0 0;
  color: #12345A!important;
}

.box_hover{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-left: 5px;
  width: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: all 0.25s linear;
  vertical-align: middle;
  font-size: 0.01rem;
  opacity: 0;
}

a:hover div.box_hover {
  width: 100%;
  opacity: 1;
  color: #8AB0AB;
  text-align: center;
  font-size: 4.0rem;
}


.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.helper+svg {
  vertical-align: middle;
}

.icon-wrapper {
  margin-bottom: 16px;
  color: #000000 !important;
  opacity: 0.5;
}

.icon-wrapper i {
  display: block;
  height: 30px;
  width: 30px;
  margin: 0 auto 16px auto;
}

.icon-about-us{
  background: url("../img/icon-about-us.svg") 0 0;
  background-size: 30px 30px;
}

.icon-leadership{
  background: url("../img/icon-leadership.svg") 0 0;
  background-size: 30px 30px;
}

.icon-services{
  background: url("../img/icon-services.svg") 0 0;
  background-size: 30px 30px;
}

.icon-technology{
  background: url("../img/icon-technology.svg") 0 0;
  background-size: 30px 30px;
}

.icon-events{
  background: url("../img/icon-events.svg") 0 0;
  background-size: 30px 30px;
}

.icon-contact{
  background: url("../img/icon-contact.svg") 0 0;
  background-size: 30px 30px;
}

.links {
  margin-top: 40px;
}

.col-md-3.link {
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
}
.fa-html5, .fa-css3-alt {
  float: right;
  margin: 0 6px;
}



.fa-html5 {
  color: #E44D26;
}

.fa-css3-alt {
  color: #2965F1;
}

/* change the background color */
.navbar-custom {
    background-color: white;
    height: 75px;
}
.navbar-custom img{
    height: 45px;
    width: 45px;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #404244!important;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.navbar-nav{
  margin-top: 24px;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    font-family: 'HelveticaNeue', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #12345A;
    height: 50px;
}
/* change the color of active or hovered links */
/*
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
*/
#copyright {
  width: 100%;
  background-color: #F4F4F4;
  vertical-align: bottom;
  margin: 0;
  padding-top: 50px!important;
  padding-bottom: 50px!important;
  padding-right: 30px;
  font-size: 16px;
  color: #404244;
}

#footer-links {
  margin-bottom: 0;
}

#link-container {
  padding-bottom: 40px;
}

.dropdown-menu, .dropdown-item, .dropdown-divider {
  color: #002268;
  transition: all 0.7s ease-out;
  border-bottom: none!important;
}

.dropdown-item{
  font-family: 'HelveticaNeue', sans-serif;
  padding: 0.25rem 1.0rem;
  color: #404244;
}
.dropdown-item.head{
  font-family: 'HelveticaNeue', sans-serif;
  font-weight: bold;
  color: #404244;
  padding: 0.25rem 0.5rem;
}

.dropdown-item:hover {
  color: #12345A;
  background: white;
}

.dropdown-menu.show{
  margin-top: -20px;
}

.navbar-nav .show>.nav-link{
  color: #12345A!important;
}
