.container-fluid.main {
  padding-top: 15px;
  background-color: rgba(255, 255, 255, 1.0);
  padding-bottom: 5px;
}

.tagline {
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'HelveticaNeue', sans-serif;
  color: white;
  margin-top: 80px;
  margin-bottom: 40px;
}

.tagline b{
  font-family: 'HelveticaNeueMedium', sans-serif!important;
}

.tagline span{
  display: block;
  width: 40px;
  height: 3px;
  background: white;
  margin: 20px auto 0 auto;
}

h2.tagline {
  font-size: 50px;
  margin-top: 0;
}

h4 {
  margin-bottom: 15px;
}

.carousel-item h4 {
  font-weight: 100;
  font-size: 20px;
  font-family: 'HelveticaNeue', sans-serif;
  color: white;
}

.carousel-item {
  margin-top: 2.25rem;
}

.weProvide {
  list-style: disc inside;
  padding-bottom: 20px;
}

.thumbnail {
  margin: 20px 0;
}

a h2 {
  padding: 0.25rem 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0,0,0, 0.65);
  width: 60px;
  height: 60px;
}

.carousel-inner {
  height: 150px;
}

.carousel-indicators li {
  box-shadow: 2px 2px 2px lightgray;
  height: 5px;
}

#spacer {
  height: 85px;
}

#more_circle {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  margin-bottom: 30px;
  opacity: 0.5;
}

#more_circle:hover{
  opacity: 1;
}

.cognitive {
  color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size: 2.5vw;
  font-family: 'Raleway' sans-serif;
  border-radius: 5px;
  margin-bottom: 75px;
  padding-top: 125px;
  padding-right: 75px;
}


.fa-angle-double-down {
  margin-top: 5px;
}

.scroll a {
  color: #3E505b;
}

.intro_content {
  font-family: 'HelveticaNeue' sans-serif;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #404244;
}

.container-fluid {
  background-color: transparent;
}

.carousel-control-next, .carousel-control-prev {
  top: -12%;
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
.call-out {
  margin-top: 140px;
}


@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(7.5deg); }
   95% { transform: rotate(-7.5deg); }
  100% { transform: rotate(0deg); }
}

#scroll_down svg {
  display: inline-block;
  margin-top: 8px;
  animation: wiggle 2.5s infinite;
}

#scroll_down:hover svg {
  animation: none;
}
