
/*
.service-info {
  margin: 20px 10px;
  border: 2px solid #002268;
  padding-top: 30px;
  padding-bottom: 20px;
}

.service-info:nth-of-type(3n+2) {
  background-color: #3E505B;
  color: white;
  border-color: #8AB0AB;
}

.service-info:nth-of-type(3n) {
  background-color: #002268;
  color: white;
  border-color: #3E505B;
}
*/
