#top {
  background-color: white;
  margin-top: 350px;
  padding: 30px 20px 50px 20px;
  margin-bottom: 0;
  min-height: 0px;
}

.about a {
  color: #FFF !important;
  text-decoration: underline;
}

.value {
  padding-bottom: 1.5rem;
}

.bio img {
  width: 175px;
  display: block;
}
