<!DOCTYPE html>
<html>
  <head>
    <title>Black Diamond Groomers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/groups.css">
    <link rel="stylesheet" href="/stylesheets/ambassadors.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leader.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Leading the Way</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Exploring New Terrain
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid medium-space" id="intro">
      <div class="row top justify-content-center medium-space">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">Black Diamond Groomers</h1>
          <p class="text-center">
            No challenge is too great for our Black Diamond Groomers.  They tame the slope, saying &quot;yes&quot; to our clients, ensuring we keep our promises and deliver results on time.
          </p>
          <span class="border"/>
        </div>
      </div>
    </div>

    <div class="container-fluid card-block leadership-block">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card-deck">
            <div class="card">
              <!-- <img class="card-img-top rounded-circle" src="/img/no-photo.png" alt="Terry Doncaster"> -->
              <div class="card-body">
                <h5 class="card-title">Manager of Client Relationships and Success</h5>
                <h6 class="card-pos">Terry Doncaster</h5>
                <p class="card-text">
                  A 10 year veteran at HON, Ms. Doncaster develops client relationships. She is constantly seeking to understand what clients desire so that we can deliver optimal results. Ms. Doncaster is able to swiftly identify opportunities for clients because she understands what they are seeking. She boasts 25 years of experience in managing the healthcare revenue cycle, including: training medical billing staff; overseeing managed care insurance; overseeing commercial insurance; overseeing Medicare and Medicaid follow up; and, managing billing and patient collections. Her contributions to HON have been numerous including the development of employee training and work flow processes. Her client centric perspective helps the company to improve our services and processes.
                </p>
                <p class="card-text">
                  &quot;The best part about my job is working directly with clients to meet needs and ensure their happiness. It is very rewarding.&quot;
                </p>
              </div>
            </div>
            <div class="card">
              <!-- <img class="card-img-top rounded-circle" src="/img/no-photo.png" alt="Allison Thyng"> -->
              <div class="card-body">
                <h5 class="card-title">Manager of Contract Compliance and Success</h5>
                <h6 class="card-pos">Allison Thyng</h5>
                <p class="card-text">
                  Drawing on nearly 20 years&apos; experience in Customer Service and healthcare positions, Ms. Thyng believes the key to maximizing reimbursement is maintaining a patient-centered focus at every stage of the revenue cycle. Ms. Thyng began her healthcare career as a Cash Management/Electronic Payment Specialist, helping to develop workflows and best practices.  She subsequently held positions as Commercial Collections Supervisor, and as Patient Financial Services Manager for a large healthcare system.  She joined HON in 2017 as the Contract Compliance Manager. Ms. Thyng is passionate about customer service. Not simply those direct interactions with patients, but also everything that goes on behind the scenes to promote a positive patient experience.  Her contributions to HON include establishing quality metrics, root cause analysis for ongoing process improvement initiatives, and providing feedback to optimize employee engagement and productivity.
                </p>
                <p class="card-text">
                  &quot;I don&apos;t believe in cutting corners.  I want to go home each day knowing we&apos;re doing everything we possibly can to promote a positive patient experience for each of our clients.&quot;
                </p>
              </div>
            </div>
            <div class="card">
              <!-- <img class="card-img-top rounded-circle" src="/img/no-photo.png" alt="Gordon Bedell"> -->
              <div class="card-body">
                <h5 class="card-title">Manager of Employee Success and Training</h5>
                <h6 class="card-pos">Gordon Bedell</h5>
                <p class="card-text">
                <p class="card-text">
                  Mr. Bedell develops and administers training programs for employees, assesses training opportunities for the company, and organizes ongoing employee development.  He is successful because he is able to apply an in-depth understanding of insurance follow up, client relations, and employee management to the training process. Mr. Bedell has developed extensive training materials and resources for employees, supervisors and client offices.  He conducts operational assessments for clients where he ensures process efficiencies and transparent communication between the two offices. Mr. Bedell works closely with the Client Services Manager, Compliance Manager and Information Technology department when implementing process changes.  He is a wonderful resource to both HON employees and clients.
                </p>
                <p class="card-text">
                  &quot;Working for HON provides an opportunity to educate and assist patients around the United States with their medical billing needs.  The best part about my job is that I am able to provide an invaluable service to a large community.&quot;
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
