<!DOCTYPE html>
<html>
  <head>
    <title>Team Shackleton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/groups.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leader.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Leading the Way</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Exploring New Terrain
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="top">
      <div class="row justify-content-center small-space">
        <div class="col-lg-12 col-xl-9">
          <h1 class="text-center"><strong>Team Shackleton</strong></h1>
          <h3>
            As Shackleton led his crew, our HON leaders guide our representatives enabling the success of our day to day operations, so that we have grateful clients and happy employees.
          </h3>
        </div>
      </div>
      <div class="row justify-content-start medium-space">
        <div class="col-sm-4 col-md-3 col-lg-2">
          <a class="btn btn-primary btn-lg form-control" href="/test/leadership#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            <abbr title="Human Resources">HR</abbr> Manager &#45; Judy Nelson
          </h4>
          <div class="bio">
            <img src="/img/staff_pics/judy_nelson.jpg" alt="Judy Nelson">
            <p>
              Ms. Nelson has 11 years of experience in HR/Payroll, and 20 years of experience in the health care industry.   As HON&apos;s HR manager, Ms. Nelson guides and manages the overall provision of Human Resource services, policies, and programs for the company. Ms. Nelson takes the lead in recruiting, onboarding new employees, benefits administration and payroll management.  Ms. Nelson is also responsible for evaluating employee relations and navigating solutions.  She skillfully articulates company policies, ensuring employees have a clear understanding of the company&apos;s mission. She is well known for her empathetic ear.
            </p>
            <p>
              &quot;The best part about my job is the uniqueness of all of the wonderful employees.  I love people.  Being in HR gives me the opportunity to serve others, and provide solutions.  When an employee leaves my office feeling heard and appreciated, that makes me proud.&quot;
            </p>
          </div>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            Quality Assurance Manager &#45; Nubia Fajardo
          </h4>
          <div class="bio">
            <img src="/img/staff_pics/nubia_fajardo.jpg" alt="Nubia Fajardo">
            <p>
              Ms. Fajardo brings a wealth of revenue cycle management experience from neighboring hospitals.   At HON, she works to ensure that our customer service procedures and quality standards are held to a world class level of care. Ms. Fajardo oversees, thorough customized data mining, the monitoring of calls and account reviews.  She provides opportunities for improvement at an individual level and plays a key role in employee development.  Ms. Fajardo is intimately familiar with each of our employee&apos;s strengths and is a key contributor to an employee&apos;s career development.  Ms. Fajardo ensures that we deliver on our promise to provide outstanding customer service to our clients.
            </p>
            <p>
              &quot;The best part of my job is that every day is different. The team is what inspires me every day to be better at what I do.&quot;
            </p>
          </div>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            Workforce Manager &#45; Orlando Madera
          </h4>
          <div class="bio">
            <img src="/img/staff_pics/orlando_madera.jpg" alt="Orlando Madera">
            <p>
              Mr. Madera has been working in the medical billing industry since 2006.  He has successfully represented several facilities with diverse hospital billing systems nationwide.  Mr. Madera now represents HON as the Workforce Manager.  He works to forecast and report staffing requirements, call volume demands and directs the scheduling for optimal coverage.  Additionally, Mr. Madera is responsible for overseeing all of the patient account representative teams, mentoring the leads, and implementing new policies/procedures.  He ensures that our company is meeting best in class benchmarks for call centers, that the staff feels supported and that the team as a whole is on a path to success.
            </p>
            <p>
              &quot;The best part of my job is the team. We all have the same common goal, and always come together to achieve it.&quot;
            </p>
          </div>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            Auditing Manager &#45; Elizabeth Williams
          </h4>
          <div class="bio">
            <i class="fas fa-camera-retro fa-4x"></i>
            <p>
              Ms. Williams is our <em>Wizard of Oz &#45; the woman behind the curtain</em>.  She is responsible for organizing and overseeing internal audits and manages the team of auditors.  She began her career with HON 10 years ago and moved her way up from auditor, to management.  Her critical contributions include oversite of client account reconciliations.  Additionally, she reviews and helps develop processes to guarantee accounts always flow through our system timely and effectively.  Ms. Williams is also responsible for ensuring our fiscal future as our invoicing manager.  She holds a Business Finance degree from University of Northern Colorado and is indispensable for her acumen of client processes.
            </p>
            <p>
              &quot;This job is incredibly rewarding.  It allows me to use innovative problem solving combined with analytical thinking to get measureable results. Honestly nothing makes me happier than streamlining processes or finishing a big project.&quot;
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" id="back-button">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <a class="btn btn-primary btn-lg form-control" href="/test/leadership#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back to Leadership</a>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
