<!DOCTYPE html>
<html>
  <head>
    <title>First Tracks Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/testimonials.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leader.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Leading the Way</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Exploring New Terrain
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="intro">
      <div class="row top justify-content-center medium-space">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">First Tracks Team</h1>
          <p class="text-center">
            The First Tracks Team realize HON’s commitment to our clients through incredible customer care and account handling.
          </p>
          <span class="border"/>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-6 padding-right">
          <h5>First Tracks Team Testimonials</h5>
          <p>
            Our First Tracks Team is vital to the company and their tracks are the first impression for your community members. This team is made up of our supervisors, team leads, patient account representatives, client liaisons, auditors and insurance follow up representatives. They are self-managing teams and are assigned to individual clients.
          </p>
          <p>
            Within these units, there are specialists in customer service, call center support, hospital and physician account receivables, insurance follow up, client processes, auditing, and cash posting. These individual bring a wealth of experience and expertise to their positions. They ensure we carry out our promises and make certain that doing business with our company is easy for our clients and their patients.
          </p>
          <p>
            HON is incredibly proud of these competent and compassionate individuals. We feel fortunate that they are employed at HON. Here are some of the things our employees have to say:
          </p>
        </div>
        <div class="col-md-4">
          <h6>We provide:</h6>
          <ul class="weProvide">
            <li>A team with years of experience from many facets of the receivable spectrum.</li>
            <li>Continuous training that incorporates your mission and philosophy.</li>
            <li>Monitoring of calls and on-going feedback that goes above national benchmarks; in order to get the best from employees, we expect the best</li>
            <li>A responsive, responsible and positive partnership.</li>
            <li>Self-managing teams that thrive in a team environment.</li>
            <li>Front-line workers who are empowered to make smart decisions for patients.</li>
            <li>Dedicated staff who will work hard to take the burden off of your employees.</li>
            <li>A robust library of policy and procedures and customer service guidelines.</li>
          </ul>
        </div>
      </div>
    </div>

      <div class="container-fluid" id="feedback">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-10">
            <div class="card-columns">

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    My list is endless of why I love working for HON. The compassion, challenges, support, love, environment, and learning opportunities, provided as a result of working at HON, are phenomenal. The self-gratification of helping a patient understand hospital billing, making a positive impact for a  patient, or the “Ah-ha!” moment in a representative is priceless and awarding in itself. The camaraderie of everyone within the company is truly striking. It is a pleasure to work with each and every patient to resolve accounts and listen to their story. Working at HON, we improve skills we currently possess as well obtain new skill sets that we can carry with us anywhere. The opportunities are limitless within the company to grow and there is always a new learning opportunity. We are provided the ability to independently incorporate our ideas to contribute to our company's success, which is a highlight of HON. Tricia and Adam have created an environment that says, “This is our company” which includes support, growth, and love. The best part of working at HON is the family atmosphere provided by the company and coworkers.
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                  Integrity and Character are words that are easily spoken, yet hard to execute, particularly day-in and day-out over (20) years of HON's existence. In my years at HON, I've had the opportunity to experience and contribute to the underlying notion of Integrity and Character. The results have spoken for themselves; 50% growth rate per annum in the time I've been here, nearly 100% client retention, and integration of the latest technologies that channel the organization's core goals.  There is great satisfaction derived from deploying new technologies, like technologies that allow seamless communication between us, our clients, and patients, and doing so in a more efficient, productive, and profitable manner than our peers in the industry.   Knowing that I play a behind the scenes part in a patient who is satisfied with excellent customer service, makes me do a high-five with my peers, and the organization.
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                  Every successful company is client centric – make the client happy or you don’t survive; but it is a rare thing in a very competitive corporate environment to find a company which is also, truly, employee centric as well.  HON is committed to creating an environment where there are opportunities for education and advancement, as well as a community for employees to belong.  We are a team and this is a top down commitment, from the company’s principals, directors, managers, supervisors, to the entry level positions.  I believe that this is evident in both our customer satisfaction rates, and the low turnover.  Plus, we get to laugh at work every day!
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Healthcare Outsourcing Network is a great company to work for. From my personal experience, they give you great opportunities to expand your horizons. When I first started, I was a patient account representative and was given the opportunity to work on several different hospitals as well as learning multiple systems. Now, I am a Client liaison and I learn new things daily.  I have been an employee with the company for seven years and the experience has been wonderful. My co-workers, as well as management, are totally awesome. We have a great team. Working for Healthcare Outsourcing Network has given me great opportunity and it's much appreciated.
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Let me start by saying that it is a honor working for this company, I work for this company because I believe in it.  I want to see it grow, have a lot of success and I want to be a part of it. I grew up with the principles that your word is your bond and that being honest and working very hard leads to success.  I admire and respect the hard work Tricia and Adam have done in building this company. I have great expectations about this company and I want to be part of its success. I appreciate what life gives me and all opportunities; I honestly can say that working for his company is one of the best things I have and I feel I have to work hard to give back what it has given me. These are people I really admire and who inspire me to work harder and be a better person in all aspects. This company can count on me for anything. I give my word I will do my best for this company.
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    HON has the most amazing people I have ever met. From day one they have treated me like a family member. My coworkers have supported me through a lot these past 4 years. No matter what happens in my life, I know my coworkers will be by my side, sharing all my life moments good or bad.
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Over the years, I have come to know the kindness and humanity that has been shown to the employees of HON. There are monetary rewards and benefits of working here, but the humanity of it all as shown when someone is in need, outshines it all. When my son died, and I went through two operations on my right lower leg from a fall, I was given the time I needed to heal without the stress. That meant a lot to me. I like the fact that this company is family friendly. Not very many companies can say this. Tricia, and Adam, even though you are in charge of the employees and take care of problems as they arise, I admire the fact that there is also a kindness and understanding about you. I like doing what I do here and being able to come to work every day to a comfortable and safe place to work. Basically, what it comes down to is that I like my job and I like the people throughout this company
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Since joining HON, I have had many opportunities to develop both my customer service skills, and my industry knowledge. HON has enabled me to greatly boost my career with a diverse range of exciting and challenging projects. At HON there are no limitations for growth and I’ve always been encouraged to stretch myself, and develop new skills. No day is ever the same and, for me, it is this diversity that makes working at HON really enjoyable. HON is people-focused and this remains strong throughout the company’s growth and development. This is an exciting time to be working at HON, and I look forward to the opportunities and challenges that come with the business. I’m looking forward to my future at the company because HON is an excellent organization to build a career.
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    I like working for our company because I have the opportunity to have a job doing what I love.  I am challenged every day and continue to learn new things.  I have 21 years of experience in revenue cycle and I have the opportunity to mentor and share my knowledge with young minds - to help mold futures.  The owners have given me the ability to grow and excel.  My career has given me a sense of accomplishment and pride in myself, and I feel that each day at HON.  I work with an excellent management team and have formed valuable relationships within the HON family.  We work well together and provide support and encouragement to one another.  Success, for one, is success for all.  Most companies do not conduct business with caring and compassion for others but at HON, it is a part of our culture and we truly do make the ordinary – extraordinary.  I value this mentality in my personal life and have the opportunity to live it in my business life as well.
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    I am a new employee but I still wanted to write my impression on how I feel about this company. I really enjoy this company! It is a welcoming environment and everyone here is very helpful. I can tell what kind of people this company employs. The upper management, supervisors, and fellow co-workers have been nothing but supportive. I love that this is one of the few places I have worked that has no drama!  Personally, for me, I love this type of work and this company because you are helping people and giving them options.  I feel this company is really helping people and tries its best to do anything possible for their clients and patients.
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    I love working for HON because I feel respected and valued for what I bring to the company. The flexibility to attend to family matters if necessary and the encouragement to come up with my own ideas and provide input to the team is very important to me. It's my home away from home. It's a family atmosphere. I have been working here for a long time and I am honored to still be a part of the HON Family after 11 years.
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    <% include ../partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
