<!DOCTYPE html>
<html>
  <head>
    <title>First Tracks Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/testimonials.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leader.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Leading the Way</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Exploring New Terrain
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="intro">
      <div class="row top justify-content-center medium-space">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">First Tracks Team</h1>
          <p class="text-center">
            The First Tracks Team realize HON’s commitment to our clients through incredible customer care and account handling.
          </p>
          <span class="border"/>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row about" id="kudos">
        <div class="col-sm-12">
          <h2 class="text-center font-weight-bold">
            First Tracks Team Testimonials
          </h2>
          <div class="row justify-content-center">
            <div class="col-lg-12 col-xl-10">
              <p>
                Our First Tracks Team is vital to the company and their tracks are the first impression for your community members. This team is made up of our supervisors, team leads, patient account representatives, client liaisons, auditors and insurance follow up representatives. They are self-managing teams and are assigned to individual clients.
              </p>
              <p>
                Within these units, there are specialists in customer service, call center support, hospital and physician account receivables, insurance follow up, client processes, auditing, and cash posting. These individual bring a wealth of experience and expertise to their positions. They ensure we carry out our promises and make certain that doing business with our company is easy for our clients and their patients.
              </p>
              <p>
                HON is incredibly proud of these competent and compassionate individuals. We feel fortunate that they are employed at HON. Here are some of the things our employees have to say:
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid" id="feedback">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-10">
            <div class="card-columns">

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    My list is endless of why I love working for HON. The compassion, challenges, support, love, environment, skills, and learning opportunities provided by working at HON are phenomenal. The self-gratification of helping a patient understand hospital billing, making a positive impact for the patient, or the ah ha moment in a representative that we are sharing our knowledge and expertise with is priceless and awarding in itself. The commodore, strive, and rallying of everyone within the company is truly striking. It is a pleasure to work with each and every patient to resolve accounts and listen to their story.  Working at HON, we improve skills we currently possess as well as incorporate obtain a skill set that we can carry with us anywhere. The opportunities are limitless within the company to grow and there is always a new learning opportunity. We are provided the ability to independently incorporate our ideas to contribute to our company's success which is a highlight of HON. Tricia and Adam has created an environment that this is our company that includes support, growth, and love. The best part of working at HON is the family atmosphere provided by the company and coworkers we work alongside with.
                  </p>
                  <p class="card-user">
                    Anna Kay
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Integrity and Character, words that are easily spoken, yet hard to execute, particularly day-in and day-out over (20) years of HON&apos;s existence. In my years at HON, I&apos;ve had the opportunity to experience and contribute to the underlying notion of Integrity and Character. The results have spoken for themselves; 50% growth rate per annum in the time I&apos;ve been here, nearly 100% client retention, and integration of the latest technologies that channel the organization&apos;s core goals.
                  </p>
                  <p class="card-text">
                    There is  great satisfaction derived from deploying new technologies, like technology that allows seamless communication between us, our clients, and patients, and doing so in a more efficient, productive, and profitably manner than our peers in the industry.
                  </p>
                  <p class="card-text">
                    Knowing that I played a behind the scenes part in a patient who is satisfied with excellent customer service, these are the things that makes one do a high-five with his peers, and the organization.
                  </p>
                  <p class="card-user">
                    An "IT Guy's" Perspective
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    I love working for HON because I feel respected and valued for what I bring to the company. The flexibility to attend to family matters if necessary and the encouragement to come up with my own ideas and provide input to the team is very important to me. It&apos;s my home away from home. It&apos;s a family atmosphere. I have been working here for a long time and I am honored to still be a part of the HON Family after 11 years.
                  </p>
                  <p class="card-user">
                    Nubia Fajardo
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    In the years working for HON, I have been allowed to grow professionally, and as an individual, by being given the opportunity to be a part of the company&apos;s growth. HON not only strives for their client&apos;s success, but also the growth and development of their employees. The company provides all of the needed resources to encourage employee success, in order to ensure client success. I&apos;m very thankful to work for a company who is not only team driven, but encourages individual employee growth, and provides advancement opportunities.
                  </p>
                  <p class="card-user">
                    Orlando Madera
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    In 2013 I had the honor to start working at Hon, since then I have learned a lot about Hospital billing. I started as a call representative, and then I was given the opportunity to be a Senior Representative and a team trainer. Hon focused on my strengths and promoted me to training supervisor.  I love that Hon gives you opportunities to move up within the company.
                  </p>
                  <p class="card-text">
                    HON has some of the most amazing people I have ever met.  From day one they have treated me like a family member.  My coworkers have supported me through a lot these past 4 years. No matter what happens in my life, I know my coworkers will be by my side sharing all my life moments good or bad.
                  </p>
                  <p class="card-user">
                    Sofia Mojica
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Health Care Outsourcing is a great company to work. From my personal experience they give you great opportunity to expand your horizons. When I first started I was patient account representative and was given the opportunity to work on several different hospitals as well as learning their systems. Now I am a Client liaison representative, and learning new things daily I have been an employee with the company for seven years and my work experience with them has been wonderful. My co-workers as well as management are totally awesome. We have a great team. So working for Health Care Outsourcing has given me great opportunity and it's much appreciated. These are a few of the reasons why I work for HON.
                  </p>
                  <p class="card-user">
                    Denise Miera
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Let me start by saying that to me it is a honor working for you and for this company, I work for this company because I believe in it, I want to see it grow, have a lot of success and I want to be a part of it. I grew up with having principle in believing that your word is a bond, being honest and working very hard, I admire and respect the hard work you and Adam's have done in building this company. I have great expectations about this company and I want to be part of its success. I appreciate what life gives me and all opportunities, I honestly can say that working for his company is one of the best things I have and I feel I have to work hard for, to give back what it has given me.
                  </p>
                  <p class="card-text">
                    There are people I really admire and who inspire me to work harder and be a better person in all aspects. I enjoy helping others, weather its reps or patients I speak to and I want you to know you can count on me for anything you need. I give you my word I will do my best for this company.
                  </p>
                  <p class="card-text">
                    Thank you so much for the opportunity you have given me in being a part of this company I really appreciate it.
                  </p>
                  <p class="card-user">
                    Cindy Dominguez
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Over the years, I have come to know the kindness and humanity of the employers and as I call them (upper management) that has been shown to the employees. There are monetary rewards and benefits of working here but the humanity of it all, as shown when someone is in need outshines it all. When my son died, and I went through two operations on my right lower leg from a fall, I was given the time I needed to heal without worrying whether I would have a job when I came back. That meant a lot to me. I like the fact that children are allowed to come to work with moms, when it is needed. Not very many companies allow this. Tricia even though you are in charge of the employees and take care of problems as they arise whether work related or personality wise, I admire the fact that there is also a kindness and understanding about you. I like doing what I do here and being able to come to work every day to a comfortable and safe place to work is important. Basically what it comes down to is I like my job, I like the people I work with and I like the people I work for.
                  </p>
                  <p class="card-user">
                    Judith Goad
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    I am a new employee but I still wanted to write my impression and why I work here and how I feel about this company.
                  </p>
                  <p class="card-text">
                    I really enjoy this company! I feel very welcomed and everyone here is very helpful. I can tell what kind of people you employ and the upper management, supervisors, and fellow co-workers have been nothing but helpful and very welcoming. I love that this is one of the few places I have worked that has no drama!
                  </p>
                  <p class="card-text">
                    Personally for me I love this type of work and this company because it really does make you feel like you are helping people and giving them options.
                  </p>
                  <p class="card-text">
                    I feel as though this company is really helping people out and try's their best effort to do anything possible for their clients and patients.
                  </p>
                  <p class="card-user">
                    Judith Goad
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Health Care Outsourcing is a great company to work. From my personal experience they give you great opportunity to expand your horizons. When I first started I was patient account representative and was given the opportunity to work on several different hospitals as well as learning their systems. Now I am a Client liaison representative, and learning new things daily I have been an employee with the company for seven years and my work experience with them has been wonderful. My co-workers as well as management are totally awesome. We have a great team. So working for Health Care Outsourcing has given me great opportunity and it&apos;s much appreciated. These are a few of the reasons why I work for HON.
                  </p>
                  <p class="card-user">
                    Denise Miera
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Let me start by saying that to me it is a honor working for you and for this company, I work for this company because I believe in it, I want to see it grow,  have a lot of success and I want to be a part of it.  I grew up with having principle in believing that your word is a bond, being honest and working very hard, I admire and respect the hard work you and Adam&apos;s have done in building this company. I have great expectations about this company and I want to be part of its success. I appreciate what life gives me and all opportunities, I honestly can say that working for his company is  one of the best things I have and I feel I have to work hard for,  to give back what it has given me.
                  </p>
                  <p class="card-text">
                    There are people I really admire and who inspire me to work harder and be a better person in all aspects. I enjoy helping others, weather its reps or patients I speak to and I want you to know you can count on me for anything you need. I give you my word I will do my best for this company.
                  </p>
                  <p class="card-text">
                    Thank you so much for the opportunity you have given me in being a part of this company I really appreciate it.
                  </p>
                  <p class="card-user">
                    Cindy Dominguez
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    Over the years, I have come to know the kindness and humanity of the employers and as I call them (upper management) that has been shown to the employees. There are monetary rewards and benefits of working here but the humanity of it all, as shown when someone is in need outshines it all. When my son died, and I went through two operations on my right lower leg from a fall, I was given the time I needed to heal without worrying whether I would have a job when I came back. That meant a lot to me. I like the fact that children are allowed to come to work with moms, when it is needed. Not very many companies allow this. Tricia even though you are  in charge of the employees and take care of problems as they arise whether work related or personality wise, I admire the fact that there is also a kindness and understanding about you. I like doing what I do here and being able to come to work every day to a comfortable and safe place to work is important. Basically what it comes down to is I like my job, I like the people I work with and I like the people I work for.
                  </p>
                  <p class="card-user">
                    Judith Goad
                  </p>
                </div>
              </div>

              <div class="card">
                <div class="card-body">
                  <i class="fas fa-quote-left ">
                  </i>
                  <p class="card-text">
                    I am a new employee but I still wanted to write my impression and why I work here and how I feel about this company.
                  </p>
                  <p class="card-text">
                    I really enjoy this company! I feel very welcomed and everyone here is very helpful. I can tell what kind of people you employ and the upper management, supervisors, and fellow co-workers have been nothing but helpful and very welcoming. I love that this is one of the few places I have worked that has no drama!
                  </p>
                  <p class="card-text">
                    Personally for me I love this type of work and this company because it really does make you feel like you are helping people and giving them options.
                  </p>
                  <p class="card-text">
                    Overall I feel so far that I made a great career choice. Not to mention the benefits offered at a good price I also appreciate the people around me in this office. I really have enjoyed this company and coming to work every day! I haven't felt that way in a while about a job or company!
                  </p>
                  <p class="card-text">
                    I feel as though this company is really helping people out and try's their best effort to do anything possible for their clients and patients.
                  </p>
                  <p class="card-user">
                    Sarah Duke
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    <% include ../partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
