<!DOCTYPE html>
<html>
  <head>
    <title>Alpinists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/groups.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leader.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Leading the Way</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Exploring New Terrain
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid medium-space" id="intro">
      <div class="row top justify-content-center medium-space">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">Team Summit</h1>
          <p class="text-center">
            Our fearless leaders tame the mountains.  They are constantly searching for new possibilities that will enhance the company and deliver the latest cutting edge services to the healthcare community.
          </p>
          <span class="border"/>
        </div>
      </div>
    </div>

    <div class="container-fluid card-block leadership-block">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card-deck">
            <div class="card">
              <!-- <img class="card-img-top rounded-circle" src="/img/no-photo.png" alt="Adam Plotkin"> -->
              <div class="card-body">
                <h5 class="card-title">Owner</h5>
                <h6 class="card-pos">Adam Plotkin</h5>
                <p class="card-text">
                  Adam has more than 25 years of hospital receivable management experience, and serves as Principal/General Counsel for HON.
                  Adam also leads our sales and compliance teams. You may remember him from his lively and informative speeches at HFMA or other conferences.
                </p>
                <p class="card-text">
                  Adam is a practicing attorney in both federal and state courts, a compliance expert, and has represented clients in matters ranging across the entire spectrums of health law issues and creditors' rights. His expertise includes areas such as: Health Insurance Portability and Accountability Act (HIPAA) compliance; 501(r) compliance; health law; creditors&apos; rights; Fair Debt Collection Practices Act (FDCPA) compliance and defense; Fair Credit Reporting Act (FCRA) compliance and defense; Telephone Consumer Protection Act (&quot;TCPA&quot;) compliance and defense; and, Gramm-Leach Bliley Act (&quot;GLBA&quot;) compliance and defense. He has authored several articles on these topics as well.
                </p>
                <p class="card-text">
                  Mr. Plotkin received his B.A. and J.D. degrees from the University of Denver.  He is a certified instructor for ACA International (ACA) and has served in the past as the National Chair for ACA&apos;s Healthcare Services Program Committee. He has also served as the National Chair for ACA&apos;s Members&apos; Attorney Program Committee, and as a member of ACA&apos;s National Legislative Council.  Mr. Plotkin further serves as approved insurance defense counsel for Northland, Gulf, and St. Paul Travelers Insurance companies in the Rocky Mountain Region.
                </p>
                <p class="card-text">
                  His reputation precedes him &#45; give him 5 minutes to discuss healthcare issues you are facing.
                </p>
              </div>
            </div>
            <div class="card">
              <!-- <img class="card-img-top rounded-circle" src="/img/no-photo.png" alt="Patricia Douglas Plotkin"> -->
              <div class="card-body">
                <h5 class="card-title">Owner</h5>
                <h6 class="card-pos">Patricia Douglas Plotkin</h5>
                <p class="card-text">
                  Patricia has 25 years of hospital receivable management experience and serves as Principal and Corporate Counsel to HON. Patricia oversees our operations.
                </p>
                <p class="card-text">
                  As a practicing attorney, Ms. Douglas has extensive experience with regard to employment law issues faced by healthcare organizations. Her primary areas of practice include healthcare law, employment law, contract law, and corporate law. Ms. Douglas received her B.S. degree In Human Development and Family Studies from Colorado State University and her J.D. degree from the University of Denver. She is a frequent national speaker on call center technology, business office policies and procedures, customer service training, employee/leadership training and performance management training. Ms. Douglas served as President for the Rocky Mountain Chapter of the American Association of Healthcare Administrative Management ("AAHAM").
                </p>
                <p class="card-text">
                  Ms. Douglas is the example that dreams do come true as she went to law school with the vision of some day running an innovative company that is centered and principled. She relishes the opportunity to work with people, processes and technology, with the ever present growth mindset. She is the inspiration behind our company's mission of never settling, but working for extraordinary results for our clients and employees. She excels at helping providers improve their people through training, and their processes through design and automation. Her goal is to bring superior patient/client services, healthier finances, and advanced call center technology including: data mining; analytics; robotic process automation; virtual agents and chatbots; gamification; and, business intelligence reporting to the healthcare industry.
                </p>
                <p class="card-text">
                  Our technology will become your technology.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
