<!DOCTYPE html>
<html>
  <head>
    <title>Alpinists</title>
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/groups.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div class="container-fluid" id="top">
      <div class="row justify-content-center small-space">
        <div class="col-lg-12 col-xl-9">
          <h1 class="text-center"><strong>Team Summit</strong></h1>
          <h3>
            Our fearless leaders tame the mountains.  They are constantly searching for new possibilities that will enhance the company and deliver the latest cutting edge services to the healthcare community.
          </h3>
        </div>
      </div>
      <div class="row justify-content-start medium-space">
        <div class="col-sm-4 col-md-3 col-lg-2">
          <a class="btn btn-primary btn-lg form-control" href="/test/leadership#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            Adam Plotkin &#45; Owner
          </h4>
          <div class="bio">
            <i class="fas fa-camera-retro fa-4x"></i>
            <p>
              Adam has more than 20 years of hospital receivable management experience, and currently serves as Principal/General Counsel for HON.  Adam also leads our sales and compliance team.  You may remember him from his lively and informative speeches at HFMA or other conferences.
            </p>
            <p>
              Adam is a practicing federal attorney, a compliance expert and has represented clients in matters ranging across the entire spectrums of health law issues and creditors&apos; rights.  His expertise includes areas such as: Health Insurance Portability and Accountability Act (HIPAA) compliance; 501(r) compliance; health law; creditors&apos; rights; Fair Debt Collection Practices Act (FDCPA) compliance and defense; Fair Credit Reporting Act (FCRA) compliance and defense; Telephone Consumer Protection Act (&quot;TCPA&quot;) compliance and defense; and, Gramm-Leach Bliley Act (&quot;GLBA&quot;) compliance and defense. He has authored several articles on these topics as well.
            </p>
            <p>
              Mr. Plotkin received his B.A. and J.D. degrees from the University of Denver.  He is a certified instructor for ACA International (ACA) and has served in the past as the National Chair for ACA&apos;s Healthcare Services Program Committee. He has also served as the National Chair for ACA&apos;s Members&apos; Attorney Program Committee, and as a member of ACA&apos;s National Legislative Council.  Mr. Plotkin further serves as approved insurance defense counsel for Northland, Gulf, and St. Paul Travelers Insurance companies in the Rocky Mountain Region.
            </p>
            <p>
              His reputation precedes him &#45; give him 5 minutes to discuss healthcare issues you are facing.
            </p>
          </div>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            Patricia Douglas Plotkin &#45; Owner
          </h4>
          <div class="bio">
            <i class="fas fa-camera-retro fa-4x"></i>
            <p>
              Patricia also has more than 20 years of hospital receivable management experience and serves as Principal and Corporate counsel to HON.  Patricia oversees our operations.
            </p>
            <p>
              She is the example that dreams do come true as she went to law school with the vision of some day running an innovative company that is centered and principled.  She relishes the opportunity to work with people, processes and technology, with the ever present goal to outdo ourselves.  She is the inspiration behind our company&apos;s mission of never settling, but working for extraordinary results for our clients and employees. She excels at helping providers improve their people through training, and their processes through design and automation.  Her goal is to bring advanced call center technology including data mining/analytics; and, business intelligence with chat bots and virtual assistance to the healthcare industry.
            </p>
            <p>
              Our technology will become your technology.
            </p>
            <p>
              As a practicing attorney, Ms. Douglas also has extensive experience with regard to employment law issues faced by healthcare organizations.  Her primary areas of practice include health law, employment law and corporate law.  Ms. Douglas received her B.S. degree from Colorado State University and her J.D. degree from the University of Denver.  She is a frequent national speaker on call center technology, business office policies and procedures, customer service training, employee/leadership training and performance management training.  Ms. Douglas has also served as President for the Rocky Mountain Chapter of the American Association of Healthcare Administrative Management (&quot;AAHAM&quot;).
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" id="back-button">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <a class="btn btn-primary btn-lg form-control" href="/test/leadership#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back to Leadership</a>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
