<!DOCTYPE html>
<html>
  <head>
    <title>HON Opportunity Seekers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/groups.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leader.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Leading the Way</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Exploring New Terrain
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="intro">
      <div class="row top justify-content-center medium-space">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">Pathfinders</h1>
          <p class="text-center">
            These are the explorers, introducing our superior services to new healthcare systems so that we can expand our horizons.
          </p>
          <span class="border"/>
        </div>
      </div>
    </div>

    <div class="container-fluid card-block leadership-block">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card-deck">
            <div class="card">
              <img class="card-img-top rounded-circle" src="/img/no-photo.png" alt="Cheryl Kirkhart">
              <div class="card-body">
                <h5 class="card-title">Director of Business Development</h5>
                <h6 class="card-pos">Cheryl Kirkhart</h5>
                <p class="card-text">
                  Ms. Kirkhart began her very successful career in the health care field in 1974 with McKenzie Willamette Medical Center.  There, she held numerous positions, including Patient Financial Services Director, and in 2004 was recruited by another health system to serve as Director of Revenue Cycle Operations.  Her extensive background in revenue cycle has made her a wonderful ambassador to connect hospital systems with our early out services.  Ms. Kirkhart has been a critical partner in building the market position for HON through identification of potential clients, marketing our services and nurturing those business relationships.  She is an active member of Healthcare Financial Management Association and American Association of Healthcare Administrative Management.
                </p>
                <p class="card-text">
                  &quot;We are successful because we listen to what potential clients want, need and have tried.  Then we deliver superior results.&quot;
                </p>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top rounded-circle" src="/img/no-photo.png" alt="Carrie Bastin">
              <div class="card-body">
                <h5 class="card-title">VP of Business Development</h5>
                <h6 class="card-pos">Carrie Bastin</h5>
                <p class="card-text">
                  Prior to joining HON, Carrie had a successful career at Healthcare Financial Management Association&apos;s national office (HFMA). She had direct leadership in delivering various sponsorship initiatives, and contributed to the growth and retention of national sponsors and advertisers.  Ms. Bastin&apos;s insight and experience made her an ideal candidate to expand HON&apos;s sales territory to states east of the Mississippi.  During her time here, Ms. Bastin has been instrumental in directing the strategic vision for the company.  She has identified new markets, fresh opportunities, and enthusiastically represents HON at conferences and events.  Ms. Bastin remains an active member of Healthcare Financial Management Association and American Association of Healthcare Administrative Management.
                </p>
                <p class="card-text">
                  &quot;My co&#45;workers and management team are social, knowledgeable and caring professionally and personally. I&apos;m learning all the time from the best people.&quot;
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
