<!DOCTYPE html>
<html>
  <head>
    <title>Gold Miners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/groups.css">
    <link rel="stylesheet" href="/stylesheets/techgrp.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div class="container-fluid" id="top">
      <div class="row justify-content-center small-space">
        <div class="col-lg-12 col-xl-9">
          <h1 class="text-center"><strong>The Gold Miners</strong></h1>
          <h3>
            Working in a dark space with glowing lights, our IT team utilizes cutting edge technology and delivers clear cut reporting.  They mine for the data that is important to you, and ensure that all systems are up and running 24/7.
          </h3>

        </div>
      </div>
      <div class="row justify-content-start medium-space">
        <div class="col-sm-4 col-md-3 col-lg-2">
          <a class="btn btn-primary btn-lg form-control" href="/test/leadership#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            Database Manager &#45; Karl Schoenberger
          </h4>
          <div class="bio">
            <i class="fas fa-camera-retro fa-4x"></i>
            <p>
              Mr. Schoenberger has 12 years of experience with database administration, data integration and reporting on several platforms.  An accomplished member of the HON team, he is responsible for much of the thoughtful and custom programing that HON has been able to provide to our clients.  Karl is a great resource to our clients with programming needs and has immense experience with various accounts receivable software systems.  He receives countless accolades for his ability to understand the needs of clients and find effective and timely solutions. He manages the development of reporting, data integration, data reconciliation as well as system redundancy and server maintenance.  He is additionally critical in HON&apos;s development of sophisticated processes including data mining for workflow effectiveness.
            </p>
          </div>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            <abbr title="star trek dude wearing red shirt">Project Manager</abbr> &#45; Mike McClurg
          </h4>
          <div class="bio">
            <img src="/img/staff_pics/mike_mcclurg.jpg" alt="Mike McClurg">
            <p>
              Mr. McClurg is an accomplished Systems Administrator and Network Engineer with over 12 years of experience providing systems deployment, integration, and administration.  An invaluable member of the HON team, Mr. McClurg&apos;s primary responsibilities include: the overall planning, organization and execution of all information technology; maintaining organizational quality of service, effectiveness and efficiency through the use of technology; advising on emerging technology and how it can help the company and its clients; management of IT related projects and internal systems; keeping management and clients updated on project progress; and, ensuring the security of data and systems by implementing redundancies, disaster recovery, and backup procedures.
            </p>
          </div>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            Network &amp; Telecommunications Engineer &#45; Thomas Maher
          </h4>
          <div class="bio">
            <img src="/img/staff_pics/thomas_maher.jpg" alt="Thomas Maher">
            <p>
              Mr. Maher has over 10 years of experience with desktop support, systems deployment, and network administration and is critical to our day to day operations.  Mr. Maher&apos;s responsibilities at HON include system setup and configuration, user access control, administering e-mail and anti-virus systems, and troubleshooting and resolving user issues in a timely manner.  Additionally, he is responsible for maintaining our computing environment and telephone systems by identifying network requirements; installing upgrades and monitoring performance.  Mr. Maher is a certified engineer for our phone system allowing us to make all system changes in-house.
            </p>
          </div>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            Database Developer &#45; Andreas Beuschel
          </h4>
          <div class="bio">
            <img src="/img/staff_pics/andreas_beuschel.jpg" alt="Andreas Beuschel">
            <p>
              Mr. Beuschel is a Database Developer and Administrator with over 12 years of experience in data transformation, various reporting solutions, database administration and technical documentation. Mr. Beuschel brings to HON a unique perspective &#45; he is a German native and has experience as a technical environmental consulting engineer and project manager.  At HON, his primary responsibilities include development and management of reporting, data integration and data reconsolidation.  He ensures high levels of data availability and contributes to HON bringing business intelligence to all clients.  Mr. Beuschel also helps his team by evaluating and advising on all technology components.
            </p>
          </div>
        </div>
      </div>
      <div class="row role-info justify-content-center">
        <div class="col-xl-10">
          <h4 class="role">
            Web Developer &#45; John Kirsopp
          </h4>
          <div class="bio">
            <img src="/img/staff_pics/john_kirsopp.jpg" alt="John Kirsopp">
            <p>
              Mr. Kirsopp is a Web Developer and Administrator with over 4 years&apos; experience with web technologies and design.  His experience gives him a strong understanding of UI, cross-browser compatibility, general web functions, and standards.  At HON, his primary responsibility is developing and maintaining our account management web application.   This application allows patients to make payments, receive electronic statements, chat, engage a virtual agent and perform other tasks related to the patient&apos;s account management.  Mr. Kirsopp is able to enhance the patient experience and customize the application to client specifications and needs.
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" id="back-button">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <a class="btn btn-primary btn-lg form-control" href="/test/leadership#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back to Leadership</a>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
