<!DOCTYPE html>
<html>
  <head>
    <title>HON Affiliates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Cutting New Paths</b>
              <br>Since 1998
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Clients Breathe Easier With HON
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid medium-space" id="intro">
      <div class="row top justify-content-center">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">Affiliates</h1>
          <p class="text-center">
            Supporting clients and healthcare organizations for twenty years.
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-lg-12 col-xl-4 padding-right">
          <h5>Sharing Ideas</h5>
          <p>
            We are a leader in the industry as we set the benchmark for accounts receivable and customer service. In all communities in which we operate, we support organizations such as
            <a href="http://www.hfma.org/" target="_blank">
              <abbr title="Healthcare Financial Management Association">HFMA</abbr>
            </a>,
            <a href="http://www.aaham.org/" target="_blank">
              <abbr title="American Association of Healthcare Administrative Management">AAHAM</abbr>
            </a>,
            and
            <a href="https://www.acainternational.org" target="_blank">
              <abbr title="Association of Credit and Collection Professionals">ACA International</abbr>
            </a>.
            We do this because we believe the sharing of knowledge and education is crucial, and we support these organizations both as sponsors and as speakers.
          </p>
        </div>
        <div class="col-xl-5">
          <h5>Affiliates we support:</h5>
          <ul class="weProvide">
            <li>Healthcare Financial Management Association (<a href="http://www.hfma.org/" target="_blank">HFMA</a>)</li>
            <li>American Association of Healthcare Administrative Management (<a href="http://www.aaham.org/" target="_blank">AAHAM</a>)</li>
            <li>ACA International (<a href="https://www.acainternational.org" target="_blank">ACA</a>) and Health Care Services Program</li>
            <li>American Collectors Association Members&#39; Attorney Program</li>
            <li>The American Health Lawyers Association (<a href="https://www.healthlawyers.org" target="_blank">AHLA</a>)</li>
            <li>The International Customer Management Institute (<a href="http://www.icmi.com/" target="_blank">ICMI</a>)</li>
            <li>The American Society for Quality (<a href="https://asq.org/" target="_blank">ASQ</a>)</li>
            <li><a href="https://www.mdhba.org/" target="_blank">MDHBA</a> &#45; A Healthcare Receivables Management Association</li>
            <li>Society for Human Resource Management (<a href="https://www.shrm.org/" target="_blank">SHRM</a>)</li>
            <li>The Association for Talent Development (<a href="https://www.td.org/" target="_blank">ATD</a>)</li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('../partials/quote', {img: '/img/action/transform.jpg', title: '&quot;Every Successful Individual Understands That His or Her Achievement Depends on a Community of Persons Working Together.&quot; &#45; Paul Ryan'}); %>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
