<!DOCTYPE html>
<html>
<head>
  <title>HON Mission &amp; Vision</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="/favicon.ico" type="image/x-icon" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/nav_style.css">
  <link rel="stylesheet" href="/stylesheets/tab-style.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <script defer src="/js/fontawesome-all.js"></script>
</head>
<body>

  <% include ../partials/navigation %>

  <div id="image-box">
    <div class="container-fluid">
      <div class="row header">
        <div class="col"></div>
        <div class="col-12 text-center">
          <h1 class="tagline">
            <b>Cutting New Paths</b>
            <br>Since 1998
            <span />
          </h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row body">
          <h4 class="text-center banner">
            Clients Breathe Easier With HON
          </h4>
        </div>
      </div>

      <div id="see_more" class="text-center scroll">
        <a href="#intro" id="scroll_down">
          <div id="more_circle">
            <i class="fas fa-angle-down fa-1x">
            </i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid main" id="intro">
    <div class="row justify-content-center seeing">
      <div class="col-sm-10 col-md-4 col-lg-4">
        <h1 class="page-header">Customer Service</h1>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-6">
        <h3 class="intro_content">
          Our entire organization is structured around providing our clients with a successful and burden-free partnership.  Customer service is at the heart of all that we do.  We believe that by building a world class organization and by providing excellent telephone service, we will not only increase your patient satisfaction, but your recoveries as well.
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row about justify-content-center">
      <div class="col-md-10">
        <h5>A Great Health Care Call Center::</h5>
        <ul class="weProvide">
          <li>Gets the right people in their seats at the right time.</li>
          <li>Does not skim accounts, but works each and every account.</li>
          <li>Provides prompt responses to requests, concerns and other feedback.</li>
          <li>Participates in the customer service and the healthcare industry for benchmarking. </li>
          <li>Continuously forecasts for future needs.</li>
          <li>Constantly explores technology enhancements.</li>
          <li>Has job standards that reflect a commitment to pleasing patients and clients.</li>
          <li>Provides patients with multilingual services.</li>
          <li>Has a team with extensive experience in healthcare. </li>
          <li>Provides world-class desktop tools for account representatives.</li>
          <li>Participates in on-site meetings and conference calls to enhance communication.</li>
          <li>Offers flexibility to patients through the patient’s channel of choice.</li>
          <li>Employs team leads, supervisors, managers and an escalation team to assist patients.</li>
          <li>Monitors client/patient satisfaction via surveys and a tracking system. </li>
          <li>Logs and trends requests, concerns and positive feedback.</li>
          <li>Delivers superior services and recoveries.</li>
        </ul>
      </div>
    </div>
  </div>

  <%- include('../partials/quote', {img: '/img/action/mv.jpg', title: 'Good business leaders create a vision, articulate the vision, passionately own the vision, and relentlessly drive it to completion.&quot; -Jack Welch'}); %>

  <% include ../partials/footer %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>
