<!DOCTYPE html>
<html>
<head>
  <title>Feedback</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="/favicon.ico" type="image/x-icon" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/nav_style.css">
  <link rel="stylesheet" href="/stylesheets/svcs.css">
  <link rel="stylesheet" href="/stylesheets/tab-style.css">
  <link rel="stylesheet" href="/stylesheets/testimonials.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <script defer src="/js/fontawesome-all.js"></script>
</head>
<body>

  <% include ../partials/navigation %>

  <div id="image-box">
    <div class="container-fluid">
      <div class="row header">
        <div class="col"></div>
        <div class="col-12 text-center">
          <h1 class="tagline">
            <b>Cutting New Paths</b>
            <br>Since 1998
            <span />
          </h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row body">
          <h4 class="text-center banner">
            Clients Breathe Easier With HON
          </h4>
        </div>
      </div>

      <div id="see_more" class="text-center scroll">
        <a href="#intro" id="scroll_down">
          <div id="more_circle">
            <i class="fas fa-angle-down fa-1x">
            </i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="intro">
    <div class="row top justify-content-center medium-space">
      <div class="col-lg-10 col-xl-10">
        <h1 class="font-weight-bold text-center">Feedback</h1>
        <p class="text-center">
          &quot;There are no traffic jams in going the extra mile&quot;
        </p>
        <p class="quote-people">
          Roger Staubach
        </p>
        <span class="border"/>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="feedback">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-10">
        <div class="card-columns">

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient said that HON employee was absolutely phenomenal to her. She mentioned that the employee resolved every issue and it brought the patient to tears. She stated that she has a chronic illness that she has been dealing with for months, and the employee went above and beyond to help her make sense of everything, and gave her incredible peace of mind. The patient stated that she is going to tell every hospital that she visits that they should hire this type of employee, because she was amazing.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I want to give a shout out to an employee of yours. She took over our account and helped in an immense way! Our insurance was dragging their feet after their first payment to the hospital. The payment had the wrong identification number on it and was returned. I could not get action out of them by myself to reissue the payment. When your employee came on board and took over the account, we tag-teamed the insurance company. She is ever so friendly and polite and I haven't seen her type of persistence! She must have called them weekly for months!!! Finally the bill was paid in full! I want to relay to you the invaluableness of an employee such as her! Please let her know how much I appreciate her diligence!</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient stated the employee she spoke with is the most helpful person she has encountered. She has a lot of other medical bills, and has hit dead ends with what to do with the billing. She stated the rep helped her and provided her with everything she needed. Patient stated multiple times that the rep is awesome!!!</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">The recording with HON employee saved my bacon big time! The physician listened to the conversation and totally changed his mind about the situation. I'm 100% sure that without the recording and the great service HON employee provided, that the physician would have been convinced the patient's husband was telling the truth and it would have been a long, difficult battle for me. Instead, the provider did a 180° turn and apologized for jumping the gun. I owe you one on this.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">The patient stated the HON employee did a great job with their situation. She said they had been misinformed a few weeks ago about their account, and today, when she talked to the HON employee, she was wonderful. Patient said, she not only resolved things, but she did it correctly. I could hear her documenting things. I used to work and now I train people in a call center environment, so the fact that she did all kinds of things not only right, but more than right, just really made me feel confident in her ability, and I wanted her supervisors to know how important it was that she made sure things were done correctly.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I received a voicemail from a patient regarding a wonderful compliment for one of our employees. She wanted to express her gratitude, and thanks for her service. As a manager herself, she feels the call was handled perfectly. When she received the call, she was a little upset with the situation on the account and the employee really helped. She gives the rep a 10 on a scale of 1-10 for a job well done, and says that customer service in general needs more reps like her.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I called the billing department and was connected to your rep who treated me with extreme consideration and patience. I can barely afford my insurance payment of around $510/month… but I need to pay what I owe! Your rep was very kind and understanding, and I am set up for payments with the goal of paying the balance due within the year. I am positive that you hear all sorts of "sob stories" regarding bill payment and of course, I was one of them today.</p>
              <p class="card-text">Reviewing the benefits page from my insurance plan reminded me that the incident happened in April, so I have owed this account for over 8 months! Your rep could have rightfully been not so kind to me… this is LONG overdue, however, she was so nice to me… understanding and helpful and I was treated with respect and dignity. She is an asset to your organization and I much appreciated her attitude towards me and my issues. It is hard enough as I attempt to crawl out of this financial hole, but people like her make working with a creditor not so painful.</p>
              <p class="card-text">Thank you for helping me work out a payment plan! Thank you for your rep!</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Supervisor from client office had wonderful things to say about HON employee. She said they have requested multiple call recordings with the employee, and have been pleased with how she handled the call every time. Great work!</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I had called yesterday and the HON employee who took my call followed up today, and I wanted to let you know how much I appreciate how professional she was. She got back to me as soon as possible, gave me all the information I needed, and is a great asset.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient expressed that HON employee was very kind, helpful, patient, and made her feel comfortable. She stated she worked in customer service herself and feels that the employee should be recognized for the good quality service that she provides. You keep that girl, because she's as good as it gets! I just wanted to say thanks to her. Give her credit, because she really helped me out!</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient wanted to take the time to express her appreciation for HON employee’s help. Patient stated she was extremely patient and kind while assisting her with multiple accounts. Patient stated she was very confused with what was owed and what wasn't, and the employee was able to offer some relief. She was very appreciative to the quality of assistance she received.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I wanted to share a wonderful compliment I received today. I had the pleasure of speaking to the patient's spouse. She advised the patient is a physician, so she often works with the hospital. She expressed her appreciation for the employee’s professional demeanor, saying that she found it refreshing to speak with someone who was kind, confident, and with outstanding customer service.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I received a compliment call. The patient stated that the HON employee was patient, sweet, took the time to listen to her, and helped her figure out what bill she was speaking of. She stated that she is so happy we hire people like him.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I received a voice message from a patient today with a compliment after speaking with our employee. He wanted to let me know how wonderful a lady she is. He stated she was patient, knowledgeable, helpful and quick witted. He said she was a real treat to work with.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
