<!DOCTYPE html>
<html>
<head>
  <title>Feedback</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="/favicon.ico" type="image/x-icon" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/nav_style.css">
  <link rel="stylesheet" href="/stylesheets/svcs.css">
  <link rel="stylesheet" href="/stylesheets/tab-style.css">
  <link rel="stylesheet" href="/stylesheets/testimonials.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <script defer src="/js/fontawesome-all.js"></script>
</head>
<body>

  <% include ../partials/navigation %>

  <div id="image-box">
    <div class="container-fluid">
      <div class="row header">
        <div class="col"></div>
        <div class="col-12 text-center">
          <h1 class="tagline">
            <b>Cutting New Paths</b>
            <br>Since 1998
            <span />
          </h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row body">
          <h4 class="text-center banner">
            Clients Breathe Easier With HON
          </h4>
        </div>
      </div>

      <div id="see_more" class="text-center scroll">
        <a href="#intro" id="scroll_down">
          <div id="more_circle">
            <i class="fas fa-angle-down fa-1x">
            </i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid medium-space" id="intro">
    <div class="row top justify-content-center medium-space">
      <div class="col-sm-12 col-lg-6 col-lg-6">
        <h1 class="font-weight-bold text-center">Feedback</h1>
        <p class="text-center">
          &quot;There are no traffic jams in going the extra mile&quot;
        </p>
        <p class="quote-people">
          Roger Staubach
        </p>
        <span class="border"/>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="feedback">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-10">
        <div class="card-columns">

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient told me that HON employee was absolutely phenomenal to her. She mentioned that the employee resolved every issue and it brought the patient to tears. She stated that she has a chronic illness that she has been dealing with for months; the employee went above and beyond to help her make sense of everything, and gave her incredible peace of mind. The patient stated that she is going to tell every hospital that she visits that they should hire this type of employee, because she was amazing. Please let her know how much I appreciate her!</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I want to give a shout out to an employee of yours. She took over our account and helped in an immense way! Our insurance was dragging their feet. I could not get action out of them.  Your employee is ever so friendly and polite and I haven't seen her type of persistence! She must have called them weekly and the bill was paid in full! I want to relay to you the invaluableness of an employee such as her! </p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">The patient stated the HON employee did a great job with her situation. Patient said, “She not only resolved things, but she did it correctly.” “I could hear her documenting. I used to work and now I train people in a call center environment; so, the fact that she did all kinds of things, not only right, but more than right just really made me feel confident in her ability.  I want her supervisors to know how important it was that she made sure things were done correctly.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient wanted to express her gratitude, and thanks for our account representative’s service. “As a manager herself, she feels the call was handled perfectly. When she received the call, she was a little upset and the employee really helped. She gives the representative a 10 on a scale of 1-10 for a job well done, and says that customer service, in general, needs more representatives like her.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Reviewing the benefits page from my insurance plan reminded me that the incident happened in April, so I have owed this account for over 8 months!  This is LONG overdue; however, the account representative was so nice to me, understanding and helpful.  I was treated with respect and dignity. Your employee is an asset to your organization and I appreciate her attitude towards me. It is hard enough, as I attempt to crawl out of this financial hole, but people like her make working with a creditor not so painful.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient expressed that HON employee was very kind, helpful, patient, and made her feel comfortable. She stated she worked in customer service and feels that the employee should be recognized for the good quality service that she provides. “You keep that girl, because she's as good as it gets! I just wanted to say thanks to her. Give her credit because she really helped me out!</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I wanted to share a wonderful compliment I received today. I had the pleasure of speaking to the patient's spouse. She advised the patient is a physician, so she often works with the hospital. She expressed her appreciation for the employee’s professional demeanor saying, “She found it refreshing to speak with someone who was kind, confident, and with outstanding customer service.</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I spoke to a patient about one of our employees today.   She said our employee was so helpful and great.   Patient stated, “She is what customer service should be!”</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">I received a voice message from a patient today with a compliment after speaking with our employee. He wanted to let me know how wonderful she is. He stated, “She was patient, knowledgeable, helpful and quick witted.” He said, “she was a real treat.” </p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient expressed her appreciation for our employee’s great customer service and wonderful phone etiquette. “Your representative exceeded my expectations with her willingness to listen and her capability to answer all my questions. The representative was so very kind and helpful.”  </p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient expressed his appreciation for representative's great customer service. He states, “She was phenomenal and bent over backwards to ensure this was a one call resolution.” Patient mentioned he rarely gets this kind of service and wanted to make sure she is recognized for a job well done. “She went above and beyond and worked really, really hard to try and resolve my concern. He said that everything she did to help him made for a FANTASTIC situation for him as a patient and we are very lucky to have her on our team!”</p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <i class="fas fa-quote-left ">
              </i>
              <p class="card-text">Patient stated we have a fantastic employee. She stated, “He helped me with a very confusing bill. He was patient, professional, and had a personal touch to make a dreadful situation smooth.”  Patient continued stating, “Your employee rectified the situation and if there is any merit, he is deserving. Patient rated the customer service as a 10+. She stated, “Your employee is top notch and a quality employee and undoubtedly deserves recognition.”</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <% include ../partials/footer %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>
