<!DOCTYPE html>
<html>
<head>
  <title>HON Mission &amp; Vision</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="/favicon.ico" type="image/x-icon" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/nav_style.css">
  <link rel="stylesheet" href="/stylesheets/tab-style.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <script defer src="/js/fontawesome-all.js"></script>
</head>
<body>

  <% include ../partials/navigation %>

  <div id="image-box">
    <div class="container-fluid">
      <div class="row header">
        <div class="col"></div>
        <div class="col-12 text-center">
          <h1 class="tagline">
            <b>Cutting New Paths</b>
            <br>Since 1998
            <span />
          </h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row body">
          <h4 class="text-center banner">
            Clients Breathe Easier With HON
          </h4>
        </div>
      </div>

      <div id="see_more" class="text-center scroll">
        <a href="#intro" id="scroll_down">
          <div id="more_circle">
            <i class="fas fa-angle-down fa-1x">
            </i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid medium-space" id="intro">
    <div class="row top justify-content-center">
      <div class="col-sm-12 col-lg-6 col-lg-6">
        <h1 class="font-weight-bold text-center">Mission / Vision</h1>
        <p class="text-center">
          Turning the ordinary into the extraordinary in all that we do.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row about justify-content-center">
      <div class="col-10">
        <div class="row justify-content-center">
          <div class="col-10 text-center">
            <h5>Our Vision</h5>
          </div>
          <div class="row about justify-content-center">
            <div class="col-lg-4 col-md-12 col-sm-12">
              <h6 class="font-weight-bold">Vision for Clients</h6>
              <p>
                Helping our clients turn an ordinary revenue cycle into an extraordinary revenue cycle.
              </p>
              <p class="list-header">This is accomplished by</p>
              <ul class="weProvide">
                <li>Enabling our clients to be &quot;Best in Class&quot;</li>
                <li>Helping our clients streamline processes</li>
                <li>Providing innovative processes and technology</li>
                <li>Benchmarking best practices and delivering results</li>
                <li>Doing more&hellip; talking less</li>
                <li>Providing resources necessary for success</li>
                <li>Communicating effectively, professionally and respectfully</li>
                <li>Paying attention to the little details</li>
                <li>Caring about the work we do</li>
                <li>Being accessible to our clients</li>
                <li>Looking out for our client&apos;s best interest</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <h6 class="font-weight-bold">Vision for Employees</h6>
              <p>
                Helping employees turn an ordinary business life into an extraordinary business life.
              </p>
              <p class="list-header">This is accomplished by</p>
              <ul class="weProvide">
                <li>Committing to developing skills needed for success</li>
                <li>Providing opportunities for learning and growth</li>
                <li>Evaluating and coaching for success</li>
                <li>Recognizing excellence and extraordinary work</li>
                <li>Investing time in our people</li>
                <li>Providing accessible and approachable management</li>
                <li>Engaging and encouraging our employees</li>
                <li>Empowering employees to support our mission</li>
                <li>Communicating with respect</li>
                <li>Caring about our employees</li>
              </ul>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <h6 class="font-weight-bold">Vision for the Company</h6>
              <p>
                Making HON not just an ordinary company&hellip; but an extraordinary company.
              </p>
              <p class="list-header">This is accomplished by</p>
              <ul class="weProvide">
                <li>A never give up attitude</li>
                <li>Committing to ethical business practices</li>
                <li>Making informed and responsible decisions</li>
                <li>Hardwiring people and processes for growth and continuous improvement</li>
                <li>Securing a fiscally responsible organization</li>
                <li>Seeking feedback from clients and employees</li>
                <li>Showing innovation with industry changes</li>
                <li>Planning and forecasting for success</li>
                <li>Optimizing our relationships</li>
                <li>Increasing our market share</li>
                <li>Being recognized as an industry leader</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <%- include('../partials/quote', {img: '/img/action/mv.jpg', title: 'Good business leaders create a vision, articulate the vision, passionately own the vision, and relentlessly drive it to completion.&quot; -Jack Welch'}); %>

  <% include ../partials/footer %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>
