<!DOCTYPE html>
<html>
<head>
  <title>HON Mission &amp; Vision</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="/favicon.ico" type="image/x-icon" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/nav_style.css">
  <link rel="stylesheet" href="/stylesheets/tab-style.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <script defer src="/js/fontawesome-all.js"></script>
</head>
<body>

  <% include ../partials/navigation %>

  <div id="image-box">
    <div class="container-fluid">
      <div class="row header">
        <div class="col"></div>
        <div class="col-12 text-center">
          <h1 class="tagline">
            <b>Cutting New Paths</b>
            <br>Since 1998
            <span />
          </h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row body">
          <h4 class="text-center banner">
            Clients Breathe Easier With HON
          </h4>
        </div>
      </div>

      <div id="see_more" class="text-center scroll">
        <a href="#intro" id="scroll_down">
          <div id="more_circle">
            <i class="fas fa-angle-down fa-1x">
            </i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid main">
    <div class="row justify-content-center seeing">
      <div class="col-sm-10 col-md-4 col-lg-4">
        <h1 class="page-header">Business Philosophy</h1>
      </div>
      <div class="col-sm-10 col-md-6 col-lg-6">
        <h3 class="intro_content" id="intro">
          HON was founded on the basic principle that we want to help clients see thier organization in a new way.  Instead of saying, “That’s the way it has always been done”, we want clients to question why.  We are a company that wants to offer new insight, new solutions and new possibilities.
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row about justify-content-center">
      <div class="col-md-6 padding-right">
        <h5>Our Commitment</h5>
        <p>
          Our commitment to promoting a solution based environment has allowed us to represent the finest healthcare facilities and consistently provide them with superior services. 
        </p>
      </div>
      <div class="col-md-4">
        <h6>We provide:</h6>
        <ul class="weProvide">
          <li>Customized Programs Rather than a Cookie Cutter Approach: Special processes and procedures are customized to meet each client’s unique needs and concerns.</li>
          <li>Expedited Account Recovery and Enhanced Patient Relations: We service clients throughout the country and offer a variety of services to the healthcare industry that are designed to resolve accounts receivable and patient service issues.</li>
          <li>Attention to Detail: We believe it is our job to take as much of the burden off our clients’ shoulders as possible. </li>
          <li>The Best of Both Worlds: We blend the technological capabilities of a Fortune 500 company with the attention and accessibility usually only found in a smaller company. </li>
          <li>Customer Service is more than a job description; it is our Foundation: Our entire organization is structured around providing superior service to our clients, their staff and their patients. </li>
          <li>Challenges are mitigated because of our experience: We are owned by two attorneys and we are exclusively healthcare focused with over Twenty Years of experience.</li>
        </ul>
      </div>
    </div>
  </div>

  <%- include('../partials/quote', {img: '/img/action/mv.jpg', title: 'Good business leaders create a vision, articulate the vision, passionately own the vision, and relentlessly drive it to completion.&quot; -Jack Welch'}); %>

  <% include ../partials/footer %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>
