<!DOCTYPE html>
<html>
<head>
  <title>HON Mission &amp; Vision</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link href="/favicon.ico" type="image/x-icon" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/nav_style.css">
  <link rel="stylesheet" href="/stylesheets/tab-style.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/about.css">
  <script defer src="/js/fontawesome-all.js"></script>
</head>
<body>

  <% include ../partials/navigation %>

  <div id="image-box">
    <div class="container-fluid">
      <div class="row header">
        <div class="col"></div>
        <div class="col-12 text-center">
          <h1 class="tagline">
            <b>Cutting New Paths</b>
            <br>Since 1998
            <span />
          </h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row body">
          <h4 class="text-center banner">
            Clients Breathe Easier With HON
          </h4>
        </div>
      </div>

      <div id="see_more" class="text-center scroll">
        <a href="#intro" id="scroll_down">
          <div id="more_circle">
            <i class="fas fa-angle-down fa-1x">
            </i>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid medium-space" id="intro">
    <div class="row top justify-content-center medium-space">
      <div class="col-sm-12 col-lg-6 col-lg-6">
        <h1 class="font-weight-bold text-center">Business Philosophy</h1>
        <p class="text-center">
          A partner offering new insight, new solutions, and new possibilities.
        </h3>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row about justify-content-center">
      <div class="col-md-6">
        <h5>Our Values</h5>
        <div class="container-fluid values-content">
          <div class="row">
            <h5 class="value">
              <span class="font-weight-bold">Honor</span> &#45; We promise to honor our commitments to our clients, their patients, their staff and one another. It is only through respect and honesty that we can truly fulfill this promise and honor our partnerships.
            </h5>
          </div>
          <div class="row">
            <h5 class="value">
              <span class="font-weight-bold">Outstanding Service</span> &#45; Revenue goals should be met, and consistently exceeded, without sacrificing customer service. We realize this goal by utilizing innovative programs, customizing state-of-the-art technology, and hiring competent, caring individuals who share our vision.
            </h5>
          </div>
          <div class="row">
            <h5 class="value">
              <span class="font-weight-bold">Notable Results</span> &#45; We will change your accounts receivable management process into a dynamic system that aligns customer service goals with financial objectives.
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h6>We Provide:</h6>
        <ul class="weProvide">
          <li>Customized Programs Rather than a Cookie Cutter Approach: Special processes and procedures are customized to meet each client’s unique needs and concerns.</li>
          <li>Expedited Account Recovery and Enhanced Relations: We service clients throughout the country and offer a variety of services to the healthcare industry that are designed to resolve accounts receivable and patient service issues.</li>
          <li>Attention to Detail: We believe it is our job to take as much of the burden off our clients’ shoulders as possible. </li>
          <li>The Best of Both Worlds: We blend the technological capabilities of a Fortune 500 company with the attention and accessibility usually only found in a smaller company. </li>
          <li>Customer Service is Our Foundation: Our entire organization is structured around providing superior service to our clients, their staff and their patients. </li>
          <li>Experience Mitigate Challenges: We are owned by two attorneys and we are exclusively healthcare focused with over twenty years of experience.</li>
        </ul>
      </div>
    </div>
  </div>

  <%- include('../partials/quote', {img: '/img/action/target.jpg', title: '&quot;The Greatest Danger for Most of Us is Not That our Aim is Too High and We Miss It, But That It Is Too Low and We Reach It.&quot; &#45; Michelangelo'}); %>

  <% include ../partials/footer %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/main.js"></script>
</body>
</html>
