<!DOCTYPE html>
<html>
  <head>
    <title>HON Testimonials</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/testimonials.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div class="container-fluid" id="top">
      <div class="row top justify-content-center">
        <div class="col-lg-12 col-xl-8 text-center">
          <h1><strong>Feedback</strong></h1>
          <h3>
            What our clients and their patients have to say about our extraordinary services and staff.
          </h3>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-sm-4 col-md-3 col-lg-2">
          <a class="btn btn-primary btn-lg form-control" href="/test/about#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
        </div>
      </div>
<!--
      <div class="row about" id="kudos">
        <div class="col-sm-12">
          <h2 class="text-center font-weight-bold">
            Testimonials
          </h2>
        </div>
      </div>
-->
      <div class="row">
        <blockquote class="blockquote">
          <span>
          <p class="mb-0">
            I want to give a shout out to an employee of yours. She took over our account and helped in an immense way! Our employee funded insurance was dragging their feet after their first payment to the hospital. The payment had the wrong tax identification number on it and was returned. This was back in 2015! I could not get action out of them by myself to reissue the payment. When your employee came on board and took over the account in March 2017, we tag&#45;teamed the company. She is ever so friendly and polite but I haven&#39;t seen her type of persistence! She must have called them weekly for months!!! Finally in July 2017 the bill was paid in full!<br><br>I want to relay to you the invaluableness of an employee such as her! Please let her know how much I appreciate her diligence!
          </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
          <p class="mb-0">
            The recording with David saved my bacon big time! The physician listened to the conversation and totally changed his mind about the situation. I&#39;m 100&#37; sure that without the recording and the great service David provided that the physician would have been convinced the patient&apos;s husband was telling the truth and it would have been a long, difficult battle for me. Instead, the physician did a 180&deg; turn and almost <em>not in so many words</em>, apologized for jumping the gun. I owe you one on this.
          </p>
          </span>
          <footer class="blockquote-footer">Thanks, Client Director</footer>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
          <p class="mb-0">
            Last night I spoke with a patient who had just visited the ER. She was in need of assistance to get her OHP re&#45;instated, and did not have a good experience the night she was at the hospital. She talked with Stacey who was able to turn her bad experience around and make it a good one. This restored her faith in the hospital after speaking with Stacey.<br><br>She said that Stacey was absolutely phenomenal to her. She mentioned that Stacey resolved every issue and it brought the patient to tears. She stated that she has a chronic illness that she has been dealing with for months, and Stacey went above and beyond to help her make sense of everything, and gave her incredible peace of mind. The patient stated that she is going to tell every hospital that she visits that they should hire Stacey, because she was amazing.
          </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
          <p class="mb-0">
            The patient stated Annette did a great job with their situation. She said they had been misinformed a few weeks ago about their account, and today, when she talked to Annette, she did wonderful. She said, "Annette not only resolved things, but she did it correctly. I could hear her documenting things. I used to work and now I train people in a call center environment, so the fact that she did all kinds of things not only right, but more than right, just really made me feel confident in her ability, and I wanted her supervisors to know how important it was that she made sure things were done correctly."
          </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              To whom it may concern:<br><br>My name is Jane Doe and I called in today with regard to my bill in which I recently realized was not paid fully by my Regence BlueCross insurance.<br><br>I called the billing department and was connected to your rep who treated me with extreme consideration and patience. I can barely afford my insurance payment of around $510/month... but I need to pay what I owe! Your rep was very kind and understanding, and I am set up for payments with the goal of paying the balance due within the year. I am positive that you hear all sorts of "sob stories" regarding bill payment and of course, I was one of them today.<br><br>Reviewing the benefits page from Regence reminded me that the incident happened in April, so I have owed this account for over 8 months! Your rep could have rightfully been not so kind to me&#8230; this is LONG overdue, however, she was so nice to me&#8230; understanding and helpful and I was treated with respect and dignity. She is an asset to your organization and I much appreciated her attitude towards me and my issues. It is hard enough as I attempt to crawl out of this financial hole, but people like her make working with a creditor not so painful.<br><br>Thank you for helping me work out a payment plan! Thank you for your rep!<br><br>Kindest regards
            </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              This patient&#39;s wife has been calling and hitting road blocks and frustration in handling of her husband&#39;s account. I finally got to the bottom of it, and although not resolved, it&#39;s in the right direction.<br><br>At the end of all of it and listening to her &#39;vent&#39; she did pause and wanted to make sure I let Anna&#39;s supervisor know how much she appreciated her professionalism. She said in all of this Anna was the only person who she talked to that she felt she was being &#39;heard&#39; and that Anna really cared and wanted to help her&#8230;<br><br>I told her we LOVE ANNA too! And nothing would make me happier to share that with her and her team for KUDO&#39;S!!!!!!!
            </p>
          </span>
          <footer class="blockquote-footer">From, Client Supervisor</footer>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              This is definitely above and beyond for us. Our thanks to our partnership with HON!<br><br>As well, if you feel so inclined to provide individual recognition to Rachael for her efforts I would support this!
            </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              Supervisor from client office had wonderful things to say about Judy during our visit this week.  She said they have requested multiple call recordings from Judy and have been pleased with how she handled the call every time.  Great work Judy!
            </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              I had called yesterday and Natasha happened to be the one who took my call.  She followed up today, and I wanted to let you know how much I appreciate how professional Natasha was.  She got back to me as soon as possible, gave me all the information I needed, and is a great asset.  Kudos to Natasha.
            </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              Patient expressed that Bernadette was very kind, helpful, patient, and made her feel comfortable. She stated she worked in customer service herself and feels that Bernadette should be recognized for the good quality service that she provides.<br><br>Patient stated: &quot;You keep that girl, because she&#39;s as good as it gets!  I just wanted to say thanks to her.  Give her credit, because she really helped me out!&quot;
            </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              I wanted to share a compliment I got for Tyawne today. Patient wanted to take the time to express her appreciation for Tyawne&#39;s help. She states Tyawne was extremely patient and kind while assisting her with multiple accounts. Patient stated she was very confused with what was owed and what wasn't, but Tyawne was able to offer some relief. She was very appreciative to the quality of assistance she received.
            </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              I wanted to share a wonderful compliment I received for Stacey today. I had the pleasure of speaking to the patient&#39;s spouse. She advised the patient is a physician, so she often works with the hospital. She expressed her appreciation for Stacey&#39;s professional demeanor, saying that she found it refreshing to speak with someone who was kind, confident, and with outstanding customer service.
            </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              I received a compliment call for Fernando. The patient stated that he was patient, sweet, took the time to listen to her, and helped her figure out what bill she was speaking of. She stated that she is so happy we hire people like him as she is an 80 year old lady and is rarely treated kindly.
            </p>
          </span>
        </blockquote>
      </div>
      <div class="row">
        <blockquote class="blockquote">
          <span>
            <p class="mb-0">
              The patient said Elena was very helpful, and did a fantastic job in helping him with a problem on his account. He also stated that not only was she professional but she was courteous and kind. He said he used to supervise people, and it doesn&#39;t happen often.  Patient said when he gets good service he wants to be sure and let us know, as Elena deserves recognition.
            </p>
          </span>
        </blockquote>
      </div>
      <div class="row justify-content-center" id="back-button">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <a class="btn btn-primary btn-lg form-control" href="/test/about#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back to About Us</a>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
