<!DOCTYPE html>
<html>
  <head>
    <title>HON Values</title>
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/svcs.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div class="container-fluid" id="top">
      <div class="row justify-content-center">
        <div class="col-sm-12 text-center">
          <h1 class="font-weight-bold">Values</h1>
        </div>
      </div>
<!--
      <div class="row justify-content-start">
        <div class="col-sm-4 col-md-3 col-lg-2">
          <a class="btn btn-primary btn-lg form-control" href="/test/about#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
        </div>
      </div>
-->
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h5 class="value">
            <span class="font-weight-bold">Honor</span> &#45; We promise to honor our commitments to our clients, their patients, their staff and one another.  It is only through respect and honesty that we can truly fulfill this promise and honor these partnerships.
          </h5>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h5 class="value">
            <span class="font-weight-bold">Outstanding Service</span> &#45; Revenue goals should be met, and consistently exceeded, without sacrificing customer service. We realize this goal by utilizing innovative programs, customizing state-of-the-art technology, and hiring competent, caring individuals who share our vision.
          </h5>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h5 class="value">
            <span class="font-weight-bold">&quot;N&quot;spiring Results</span> &#45; Healthcare Outsourcing Network, L.L.C. will change your accounts receivable management process into a dynamic system that aligns customer service goal with financial objectives.
          </h5>
        </div>
      </div>
    </div>

    <div class="row part2 callout long lg align-items-center">
      <div class="col-4 callout-photo-container">
        <img class="callout-photo" src="/img/action/target.jpg">
      </div>
      <div class="col-8">
        <h1>&quot;The greatest danger for most of us is not that our aim is too high and we miss it, but that it is too low and we reach it.&quot; &#45; Michelangelo</h1>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center" id="back-button">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <a class="btn btn-primary btn-lg form-control" href="/test/about#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back to About Us</a>
        </div>
      </div>
    </div>
    <div id="blank-space"></div>
    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
