<!DOCTYPE html>
<html>
  <head>
    <title>HON Data Analytics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/svcs.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/service-links.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Join Us at the Top</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Elevate
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid main">
      <div class="row justify-content-center seeing">
        <div class="col-sm-10 col-md-4 col-lg-4">
          <h1 class="page-header">Data Analytics and Machine Learning</h1>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-6">
          <h3 class="intro_content" id="intro">
            It's raining data. So, are you drowning in a sea of unnecessary data or are you looking for the data necessary to quench your organization's thirst. What are you doing with the data you have? You need data that works for you, data that gives insight so you can make informed decisions and take actions that are in the best interest of your organization and your patients.
          </h3>
        </div>
      </div>
    </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-10">
          <h5>Data Analytics allows us to:</h5>
          <ul class="weProvide">
            <li>Scrub for financial assistance</li>
            <li>Predict behavior including payment behavior (propensity to pay) and then optimize work flows</li>
            <li>Analyze tremendous amounts of information enabling us to respond faster</li>
            <li>Provide valuable information about key performance indicators</li>
            <li>Enhance quality assurance reviews with tone and word searches</li>
            <li>Follow a patient&apos;s journey and use that history to enhance future journeys</li>
            <li>Analyze account information for compliance</li>
            <li>Identify trends and detect variances</li>
            <li>Personalize a patient's experience and simplify the process</li>
            <li>Improve customer service and the overall patient experience</li>
            <li>Measure and track escalations and enhance training and quality assurance programs</li>
            <li>Automate processes that have always been manual</li>
            <li>Reduce client&apos;s cost and improve operational efficiencies</li>
            <li>Work smarter and recognize fresh perspectives and opportunities for our clients</li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('../partials/quote', {img: '/img/action/data.jpg', title: 'Gain Better Insight With Data That Works For You'}); %>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
