<!DOCTYPE html>
<html>
  <head>
    <title>Benchmarking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/svcs.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/service-links.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Join Us at the Top</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Elevate the Patient Experience
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid medium-space" id="intro">
      <div class="row top justify-content-center">
        <div class="col-sm-12 col-lg-6 col-lg-6">
          <h1 class="font-weight-bold text-center">Benchmarking</h1>
          <p class="text-center">
            TBD
          </p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-6 padding-right">
          <h5>Enhance Best Practices:</h5>
          <p>
            How are other organizations responding to changing patient needs and new technology? What will work for your organization? As you analyze where you are today and where you want to be tomorrow, you need best practice information from inside various industries including: healthcare; technology; and, call center industries. Our benchmarking is designed to gain information on strategies, operations and processes so that we can take action to help your organization improve its performance.
          </p>
          <p>
            As you analyze where you are today and where you want to be tomorrow, you need best practice information from inside various industries, including healthcare, technology and call center industries.
          </p>
        </div>
        <div class="col-md-4">
          <h6>Benchmarking Results In:</h6>
          <ul class="weProvide">
            <li>Defining and understanding best practices.</li>
            <ul>
              <li>Internal</li>
              <li>Competitive</li>
              <li>Strategic</li>
            </ul>
            <li>Gaining perspective on performance.</li>
            <ul>
              <li>Where you are and where you want to be.</li>
            </ul>
            <li>Developing standardized metrics that work.</li>
            <li>Determining attainable goals.</li>
            <li>Forming an effective action plan.</li>
            <li>Making sure you are never standing still.</li>
            <li>Drilling down on gaps.</li>
            <li>Self-assessment.</li>
            <li>Continuous improvement.</li>
            <li>Discovery of new ideas.</li>
            <li>Holding people responsible.</li>
            <li>Supporting decisions with data for better results.</li>
            <li>Redesign of processes to improve outcomes:</li>
            <ul>
              <li>Patient experience, collections, and workflow efficiencies.</li>
            </ul>
            <li>Business intelligent reporting for trending data:</li>
            <ul>
              <li>Call statistics, patient requests, patient issues, inventory, collections, first call resolution.</li>
            </ul>
            <li>Insight.</li>
            <li>An enhanced reputation.</li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('../partials/quote', {img: '/img/action/benchmarking.jpg', title: 'Wake Up Your Business Office with Benchmarking'}); %>

    <% include ../partials/footer %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
