<!DOCTYPE html>
<html>
  <head>
    <title>HON Call Center</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/svcs.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/service-links.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Join Us at the Top</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Elevate
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid main">
      <div class="row justify-content-center seeing">
        <div class="col-sm-10 col-md-4 col-lg-4">
          <h1 class="page-header">Call Center Support</h1>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-6">
          <h3 class="intro_content" id="intro">
            No longer do you need to worry about staff coverage; we will answer the calls when you cannot.  Our goal is to provide extraordinary results for our clients by providing supplemental support to their staff and their technology.  We host the staff and technologies you need even if you work self pay accounts in house.
          </h3>
        </div>
      </div>
    </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-5 padding-right">
          <h5>Call center support:</h5>
          <ul class="weProvide">
            <li>Staff augmentation where you want.
              <ul>
                <li>
                  Never worry about your calls being answered
                </li>
                <li>
                  No more lost opportunities.
                </li>
              </ul>
            </li>
            <li>Hosting of a wide range of technology without the expense.</li>
            <li>Back up for customer service calls and bilingual patient support.</li>
            <li>Higher call volumes are easily managed.</li>
            <li>Decrease employee hiring/training cost.</li>
            <li>Onsite operational assessments to streamline processes and procedures.</li>
            <li>Optimize your team and get tasks completed. </li>
            <li>Exceed the best in class performance measurements.</li>
            <li>Clean up projects for A/R and process bottlenecks.</li>
            <li>Increase outbound calls.
              <ul>
                <li>Blast Dialing (unattended)</li>
                <li>Blast Dialing with reversed IVR</li>
                <li>Blast Dialing with reversed IVR and the ability for a patient to link back to your office</li>
                <li>Attended Dialing (we pick up the connected calls)</li>
                <li>Attended Dialing (we help with all inbound calls)</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <h6>Patient surveys and request tracking:</h6>
          <ul class="weProvide">
            <li>Allows patients to be heard.</li>
            <li>Helps clients gain invaluable insight into the patient experience.</li>
            <li>Promotes informed decision making and innovation.</li>
            <li>Identifies skills and achievements.</li>
            <li>Improves response time and accuracy.</li>
            <li>Data analytics can help you understand patient needs and concerns.</li>
            <ul>
              <li>Transform the patient experience in a positive way.</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>

    <%- include('../partials/quote', {img: '/img/action/hosting.png', title: 'Hosting Of Staff and Technologies You Need'}); %>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
