<!DOCTYPE html>
<html>
  <head>
    <title>Patient Balance Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/svcs.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/service-links.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Join Us at the Top</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Elevate
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="top">
      <div class="top">
        <div class="row justify-content-center medium-space">
          <div class="col-lg-12 col-xl-9">
            <h1 class="text-center"><strong>Patient Balance Management</strong></h1>
            <h3>
              HON specializes in the handling of extended business office projects for hospitals and large medical groups. We believe the heightened scrutiny placed on healthcare providers, the technological demands of patients, and the delays in insurance payments make our services more beneficial than ever before.
            </h3>
          </div>
        </div>
      </div>


      <div class="row about justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <h1>
                Self-Pay and Balance After Insurance Receivables
              </h1>
              <hr>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-5">
              <p>
                 Understanding a patient's history and empowering the patient to find the right solution to resolve their account through an advanced mix of human and automated channels is our specialty.
              </p>
            </div>
            <div class="col-7">
              <h5>We Provide:</h5>
              <ul class="weProvide">
                <li>Dedicated and bilingual staff that will take the burden off of your office</li>
                <li>Financial assistance scrubbing and screening based on data analytics</li>
                <li>Financial assistance document management and patient assistance</li>
                <li>Sophisticated workflow technology based on data analytics</li>
                <li>Predictive analytics based on payment history</li>
                <li>Customized programs to fit specific client needs (customer service manual)</li>
                <li>Automated payment arrangement management</li>
                <li>Credit balance management</li>
                <li>Ability to identify and rebill insurance</li>
                <li>Queueing system that seamlessly passes information between systems</li>
                <li>Ability to service patients in their channel of choice (chat, text, voice, portal)</li>
                <li>24/7/365 assistance to your patient with chat bot and virtual agent support</li>
                <li>First contact resolution for your patients</li>
                <li>Customer service and issue management tracking system</li>
                <li>Patient Friendly Billing (one bill environment)</li>
                <ul>
                  <li>USPS tracking and electronic return mail/ability to view statements</li>
                </ul>
                <li>Reporting/trending platform built using sophisticated business intelligence/data mining</li>
                <li>A collaborative team that makes our partnership easy</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row callout justify-content-center">
      <div class="col-12 callout-photo-container">
        <img class="rounded-circle callout-photo" src="/img/action/money.jpg">
      </div>
      <div class="col-12">
        <h1>Accelerate Your Collections</h1>
      </div>
    </div>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
