<!DOCTYPE html>
<html>
  <head>
    <title>HON Insurance Follow-up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/svcs.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/service-links.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Join Us at the Top</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Elevate
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="top">
      <div class="top">
        <div class="row justify-content-center medium-space">
          <div class="col-lg-12 col-xl-9">
            <h1 class="text-center"><strong>Insurance Follow Up</strong></h1>
            <h3>Our insurance follow up team provides an aggressive, multi-angled approach to investigating and collecting on unpaid and underpaid accounts. Our workflow is automated and streamlined so that our agents are able to work effectively and efficiently through your accounts.  Adding to our automated workflow processes, are well trained and experienced staff members who will improve your revenue cycle by minimizing your office&apos;s backlogs and increasing your cash collections.</h3>
          </div>
        </div>
<!--
        <div class="row justify-content-start">
          <div class="col-sm-4 col-md-3 col-lg-2">
            <a class="btn btn-primary btn-lg form-control" href="/test/services#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
          </div>
        </div>
-->
      </div>
      <div class="row about justify-content-center">
        <div class="col-md-12 col-lg-10">
          <h5>
            We Provide:
          </h5>
          <ul class="weProvide">
            <li>Specialists in insurance recovery</li>
            <ul>
              <li>Managed care,</li>
              <li>Commercial insurance,</li>
              <li>Medicaid/Medicare</li>
              <li>Workman's compensation</li>
            </ul>
            <li>Investigations into unpaid and underpaid accounts</li>
            <li>Correction of claims and resubmission</li>
            <li>Maximum account receivable recovery</li>
            <li>Underpayment recoupment</li>
            <li>Reduction of denials and write-offs</li>
            <li>Automated process to streamline workflows</li>
            <li>Expedited claim resolution</li>
            <li>Legal assistance for stubborn payers</li>
            <li>Insurance eligibility verification</li>
            <li>Assistance with conversion projects</li>
            <li>Aggressive appeals process</li>
            <li>Robust reporting of payer trends and issues</li>
            <li>Cost effective solution that saves time, and increases recoveries</li>
          </ul>
        </div>
      </div>
  </div>

    <div class="row callout justify-content-center">
      <div class="col-12 callout-photo-container">
        <img class="rounded-circle callout-photo" src="/img/action/insurance.jpg">
      </div>
      <div class="col-12">
        <h1>Get Results From Insurance Follow Up</h1>
      </div>
    </div>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
