<!DOCTYPE html>
<html>
  <head>
    <title>HON Services Overview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/svcs.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div class="container-fluid" id="top">
      <div class="row justify-content-center">
        <div class="col-lg-12 col-xl-8 text-center">
          <h1>Services Overview</h1>
          <h3>
            HON is 100&#37; committed to providing extraordinary quality, the most advanced technology and the best results possible.  We are constantly exploring new opportunities to improve our services.  As we are always looking for new challenges and opportunity, we welcome your request for other services and are not limited by what you see here.
          </h3>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-sm-4 col-md-3 col-lg-2">
          <a class="btn btn-primary btn-lg form-control" href="/test/services#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-xl-3 service-info">
          <h5>
            Early Out Self-Pay
          </h5>
          <hr>
          <ul class="weProvide">
            <li>Account Resolution</li>
            <li>Payment Arrangement Management</li>
            <li>Financial Assistance Scrubbing and Screening</li>
            <li>Customer Service</li>
            <li>Complaint Management</li>
          </ul>
        </div>
        <div class="col-lg-4 col-xl-3 service-info">
          <h5>
            Insurance Follow&#45;up
          </h5>
          <hr>
          <ul class="weProvide">
            <li>Investigate unpaid accounts for reason(s) of non-payment</li>
            <li>Aggressive, multi-angled approach</li>
            <li>Automated process to streamline workflows</li>
            <li>Expedited claim resolution</li>
            <li>Legal Assistance for stubborn payers</li>
          </ul>
        </div>
        <div class="col-lg-4 col-xl-3 service-info">
          <h5>
            Customer Care Call Program
          </h5>
          <hr>
          <ul class="weProvide">
            <li>Verify demographic information</li>
            <li>Proactively discuss insurance billing</li>
            <li>Address complaints</li>
            <li>Offer financial assistance applications</li>
            <li>Customer satisfaction surveys</li>
          </ul>
        </div>
        <div class="col-lg-4 col-xl-3 service-info">
          <h5>
            Bilingual Capabilities
          </h5>
          <hr>
          <ul class="weProvide">
            <li>Interactive Voice Response System (IVR) allows patients to request assistance in Spanish</li>
            <li>Spanish representative is always available to take calls during working hours</li>
            <li>Dialer can be programed to leave voicemails in the patient&apos;s native tongue</li>
            <li>Currently employ individuals who speak Spanish, Polish, and Russian</li>
          </ul>
        </div>
        <div class="col-lg-4 col-xl-3 service-info">
          <h5>
            Benchmarking
          </h5>
          <hr>
          <ul class="weProvide">
            <li>Improve customer service</li>
            <li>Assist clients in redesigning basic processes for best results</li>
            <li>Discuss best practice information from inside and outside of the healthcare industry</li>
            <ul class="weProvide">
              <li>How other organizations are responding to changing customer needs</li>
              <li>New technology that is available to improve our current system</li>
              <li>Techniques that will enable us to expedite payment</li>
              <li>Improving our customer relations through new techniques</li>
            </ul>
          </ul>
        </div>
        <div class="col-lg-4 col-xl-3 service-info">
          <h5>
            Onsite Representatives
          </h5>
          <hr>
          <ul class="weProvide">
            <li>Individual hired in the client&#39;s region</li>
            <li>Serves as a liason between HON and client</li>
            <li>Is capable of managing a variety of tasks, including</li>
            <ul class="weProvide">
              <li>Front Desk customer service</li>
              <li>Mailing financial assistance forms</li>
              <li>Taking payments</li>
            </ul>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center" id="back-button">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <a class="btn btn-primary btn-lg form-control" href="/test/services#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back to Services</a>
        </div>
      </div>
    </div>
    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
