<!DOCTYPE html>
<html>
  <head>
    <title>HON QA</title>
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/svcs.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div class="container-fluid" id="top">
      <div class="top">
        <div class="row justify-content-center medium-space">
          <div class="col-lg-12 col-xl-9">
            <h1 class="text-center"><strong>Quality Assurance</strong></h1>
            <h3>
              We understand that getting the best from staff means expecting the best and continually seeking to improve and develop top performers. Training gives employees the foundation of knowledge and daily measuring of performance and feedback gives employees the opportunity to grow and improve.
            </h3>
          </div>
        </div>
<!--
        <div class="row justify-content-start">
          <div class="col-sm-4 col-md-3 col-lg-2">
            <a class="btn btn-primary btn-lg form-control" href="/test/services#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back</a>
          </div>
        </div>
-->
      </div>

      <div class="about">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <h5>
              Quality Assurance Monitoring includes:
            </h5>
            <ul class="weProvide">
              <li>Automating reviews with tone and word searches</li>
              <li>Recording all calls</li>
              <li>Using data analytics to investigate patient requests and customer service bottlenecks</li>
              <li>Committing to quality and continuous improvement</li>
              <li>Building an effective monitoring program with nonstop fine tuning</li>
              <li>Calibrating the monitoring form for consistency</li>
              <li>Using data analytics to focus on useful information</li>
              <li>Creating a positive work environment by giving real time feedback</li>
              <li>Trending, analyzing and benchmarking results</li>
              <li>Account handling reviews:</li>
              <ul>
                <li>customer service, collections, account follow-up, first call resolution</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="part2 row testify justify-content-center" id="testimony">
      <div class="col-md-8">
        <blockquote class="client-quote">
          <span>
            <p>
              What gets measured gets done. What gets recognized gets done again and even better.
            </p>
          </span>
          <footer class="blockquote-footer">Robert Crawford</footer>
        </blockquote>
      </div>
    </div>



    <div class="row callout align-items-center">
      <div class="col-8">
        <h1>&lt;new callout goes here&gt;</h1>
      </div>
      <div class="col-4 callout-photo-container">
        <img class="callout-photo" src="/img/action/qa.jpg">
      </div>
    </div>

    <div class="container-fluid">
      <div class="row justify-content-center" id="back-button">
        <div class="col-md-5 col-lg-4 col-xl-3">
          <a class="btn btn-primary btn-lg form-control" href="/test/services#navs" target="_self"><i class="fas fa-angle-double-left"></i> Back to Services</a>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
