<!DOCTYPE html>
<html>
  <head>
    <title>HON Training and Quality Assurance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="/favicon.ico" type="image/x-icon" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,900" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/1.1.0/webcomponents-loader.js" integrity="sha256-/yxQxuxBLYpTKkkwc73/bugLt4rBmKwXmZuFucG2AVQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/tab-style.css">
    <link rel="stylesheet" href="/stylesheets/svcs.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/leadership.css">
    <link rel="stylesheet" href="/stylesheets/service-links.css">
    <script defer src="/js/fontawesome-all.js"></script>
  </head>
  <body>

    <% include ../partials/navigation %>

    <div id="image-box">
      <div class="container-fluid">
        <div class="row header">
          <div class="col"></div>
          <div class="col-12 text-center">
            <h1 class="tagline">
              <b>Join Us at the Top</b>
              <span />
            </h1>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row body">
            <h4 class="text-center banner">
              Elevate
            </h4>
          </div>
        </div>

        <div id="see_more" class="text-center scroll">
          <a href="#intro" id="scroll_down">
            <div id="more_circle">
              <i class="fas fa-angle-down fa-1x">
              </i>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="container-fluid main">
      <div class="row justify-content-center seeing">
        <div class="col-sm-10 col-md-4 col-lg-4">
          <h1 class="page-header">Training and Quality Assurance</h1>
        </div>
        <div class="col-sm-10 col-md-6 col-lg-6">
          <h3 class="intro_content" id="intro">
            Our goal is to assist our clients in improving performance. We help our clients move from an average business offices to a world-class business offices through our extensive training and quality assurance programs. We help clients acquire the tools and techniques needed to provide excellent service, increase productivity, accelerate collections, streamline workflows, and produce measurable results.
          </h3>
        </div>
      </div>
    </div>
    </div>

    <div class="container-fluid">
      <div class="row about justify-content-center">
        <div class="col-md-10">
          <h5>Training and QA Programs</h5>
          <ul class="weProvide">
            <li>Legal aspects of collections.</li>
            <li>Topics such as <abbr title="Health Insurance Portability and Accountability Act of 1996">HIPAA</abbr>, <abbr title="Fair Debt Collection Practices Act">FDCPA</abbr>, <abbr title="Fair Credit Reporting Act">FCRA</abbr> , <abbr title="Telephone Consumer Protection Act">FTCPA</abbr>.</li>
            <li>Tips for accelerating collections and reducing AR.</li>
            <li>The magic of customer service.</li>
            <li>Employee motivation and engagement.</li>
            <li>Leadership training.</li>
            <li>Call Center technology.</li>
            <li>Call Center terminology, management and benchmarking.</li>
            <li>Quality assurance monitoring and coaching through data analytics.</li>
            <li>Workforce Management.</li>
            <li>Process Mapping and workflow efficiencies and automations with RPA.</li>
            <li>Issue/Complaint Management System (track, trend, analyze, resolve).</li>
            <li>Automating reviews with tone and word searches.</li>
            <li>Recording all calls.</li>
            <li>Using data analytics to investigate patient requests and customer service bottlenecks.</li>
            <li>Committing to quality and continuous improvement.</li>
            <li>Building an effective monitoring program with a fine tuned QA form.</li>
            <li>Creating a positive work environment by giving real time feedback.</li>
            <li>Trending, analyzing and benchmarking results.</li>
            <li>Account handling reviews: customer service, collections, account follow-up, first call resolution. What gets measured gets done. What gets recognized gets done again and even better.</li>
          </ul>
        </div>
      </div>
    </div>

    <%- include('../partials/quote', {img: '/img/action/training.jpg', title: 'Wake Up your business office with training'}); %>

    <% include ../partials/footer %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
